[2014-01-09 16:17] marc-hanheide opened #1 "rostopic logger"
- based on mongodb_log
- dissolve roslog logger into nirvana
- make sure that we have meta data associated with it
  - timestamp (probably take it from the ROS message if it has a timestamp)

[2014-01-09 16:40] marc-hanheide opened #2 "move data_centre related packages into this repository"
and update install files

[2014-01-09 16:41] marc-hanheide opened #3 "rosservice to create log tags"

[2014-01-09 16:41] marc-hanheide opened #4 "Log viewer"
- probably based on logmx with a mongodb LogManager

[2014-01-09 16:43] marc-hanheide opened #5 "TopicReplay"
- deal with latched topics, e.g. implementing time-to-live
- requires a nice GUI

[2014-01-09 16:43] marc-hanheide opened #6 "mongodb abstraction API, e.g. for model queries, inserts, ..."

[2014-01-09 16:46] marc-hanheide opened #7 "implement a map publisher"
as a first use case as soon as the datacentre API is in place

[2014-01-17 00:04] hawesie commented on #6
Basic insertion and query should be done reasonably soon. I have this working in C++ and Python in a generic way, although I need to now clean up the code a bit.

[2014-01-17 00:04] hawesie commented on #7
Depends on #6.

[2014-01-17 00:06] hawesie commented on #7
We'd like to start using this in the next week or so (as our new masters student gets up to speed). When #6 is done it should be reasonably easy to request the map out of the dbase then publish it.

[2014-01-17 00:07] hawesie commented on #6
I should add that all development is happening in my fork: https://github.com/hawesie/ros_datacentre

[2014-01-17 09:10] hawesie commented on #6
Regard storage schema, do we want the meta and msg data to be under separate keys in the same document, or both in their flat, but with the meta keys prefixed with a "_" (which is not allowed for a variable name in the msg format? @marc-hanheide @cburbridge

[2014-01-17 09:21] marc-hanheide commented on #6
I think having it under a specific key (probably '_meta') makes sense to
more easily strip all metadata of the document, or provide generic
serialisation into meta data fields (e.g. the metadata itself could well be
defined in msg format).

On 17 January 2014 09:10, Nick Hawes notifications@github.com wrote:

##

---

Dr. Marc Hanheide
Senior Lecturer in Computer Science
Room MC3221B
University of

[2014-01-17 09:25] hawesie commented on #6
And but the message under `_msg` or just have it flat in the document? I don't know if it makes a different to queries. I think flat is probably best as that is what people would expect.

[2014-01-17 09:29] marc-hanheide commented on #6
I don't get it... could you give an example?

[2014-01-17 09:31] hawesie commented on #6
either

`_meta = {name = "bob's home", type="Pose"},  _msg={x = '0', y='0'}`

or

`_meta = {name = "bob's home", type="Pose"}, x = '0', y='0'`

[2014-01-17 09:35] marc-hanheide commented on #6
aaah, clearly flat then, I'd say.

[2014-01-17 10:50] Jailander commented on #7
Yes I see no problem with that, as soon as #6 is done I will implement the map publisher using the brand new db API

[2014-01-17 15:05] cburbridge commented on #6
yes, `_meta = {name = "bob's home", type="Pose"}, x = '0', y='0'` looks good.

[2014-01-31 17:37] marc-hanheide commented on #4
a first working version is in https://github.com/marc-hanheide/ros_datacentre but it needs to be finalised as soon as the logs are stored in the correct format. Also, online updates need to be added.

[2014-01-31 23:44] hawesie commented on #6
Ok, the first version ready for public consumption, and, more importantly, comments, is now available at: https://github.com/hawesie/ros_datacentre

Hopefully you can clone this and run the examples.

You could test it with the following in your .rosinstall if you want:

[code]

If it all clones and compiles, you should find yourself with the following packages
1. `ros_datacentre` - this was previ

[2014-02-12 22:46] cburbridge commented on #5
I propose that we fork http://wiki.ros.org/rqt_bag?distro=hydro as a basis and hack it into what we want as a first go. This means removing the 'record' functionality, and hooking it into the datacentre. If nobody else is looking into this, I could...

[2014-02-12 22:47] cburbridge commented on #2
this is done already?

[2014-02-12 23:00] cburbridge commented on #6
It all makes sense to me and fits with what we said.

A possible improvement: as the message_store_node is written in python, we could pull out the services into a python library then make the message_store_node just expose these as ros services. This way, the message store proxy in python would not need to go through ROS services, but could directly use the python library.

[2014-02-12 23:02] hawesie commented on #2
The move has been done, but the old files have not been removed yet. I was planning to wait until the new code was more finished before making the move official and cleaning up the old stuff.

[2014-02-12 23:08] hawesie commented on #5
That looks like a good idea. We don't currently have the data logged in a finalised format, but if you could make your work independent of how the data is encoded (although it will probably look like the way the message store stores it, with the extra necessary meta) then that would be fine.

[2014-02-12 23:46] hawesie opened #8 "Integrate image and point cloud into the datacentre"
Whilst mongodb_log has special loggers for these data types, we need to implement both the proposed ring buffer based logging for triggered recording, plus look into integrating existing work on compression for sequences of images and pointclounds (by @nilsbore) into the datacentre. It may be best for these types not to go into mongodb, but be stored separately somehow. Or perhaps identifiers for

[2014-02-13 11:01] hawesie commented on #7
Should the map publisher go in scitos_2d_navigation or strands_navigation? I vote the latter as we don't want the datacentre dependencies in the 2d nav package which could be used by other projects.

[2014-02-13 11:16] Jailander commented on #7
I think strands_navigation is the place for it, I agree with you on the datacentre dependencies and I don't think this is the purpose of scitos_2d_navigation as you said in https://github.com/strands-project/scitos_2d_navigation/issues/28

[2014-02-17 16:51] marc-hanheide commented on #8
mongodb has native support for this type of ringbuffer called capped collections. Would that fulfill our requirements?

[2014-02-17 19:46] hawesie commented on #8
At the integration meeting we were also asked to provide the same infrastructure for logging larger amounts of data, e.g. from all topics for an entire run for experimental purposes. I will investigate capped collections, but we also should also look into compression for larger collections.

[2014-02-24 19:46] hawesie commented on #6
Closing this now the message store is back under strands. I will make Chris's comment a new issue for later.

[2014-02-24 19:46] #6 closed, assigned to hawesie

[2014-02-24 19:46] hawesie commented on #6
Closed by #10

[2014-02-24 19:50] hawesie commented on #7
I will have a stab at implementing this tonight as a test for the message store API.

[2014-02-24 22:30] hawesie commented on #7
See the above PR for my first-pass implementation of this. Comments etc. would be good, or even a merge.

[2014-02-24 23:08] marc-hanheide commented on #4
BTW, I have been working on a slightly different solution to this that I believe will be more flexible and useful. It's leveraging the javascript abilities I gathered during the marathon to implement this as a browser-based viewer. Currently, I have proof of concept working with a python backend server that utilises the Python REST API Framework [Eve](http://python-eve.org/) to serve request from

[2014-02-25 09:46] hawesie commented on #2
Clean up of old dependencies is still required.

[2014-02-25 09:51] marc-hanheide commented on #2
So, is this broken build
http://lcas.lincoln.ac.uk/jenkins/job/catkin_make_strands_desktop_full/210/due
to the dependencies that need cleaning up?

On 25 February 2014 09:46, Nick Hawes notifications@github.com wrote:

##

---

Dr. Marc Hanheide
Senior Lecturer in Computer Science
Room MC3221B
University of Lincoln
Brayford Pool
Lincoln, LN6 7TS
Phone: +44 1522 88 6966
EMail: marc@hanheide.net
Web

[2014-02-25 10:05] hawesie commented on #2
Yes. That's what I meant in the email to wp8 list. It would be great if Jenkins could auto-create GitHub issues!

[2014-02-25 11:33] marc-hanheide commented on #2
It can, but the problem is which repository to generate them in....

Marc

On 25 February 2014 10:05, Nick Hawes notifications@github.com wrote:

##

---

Dr. Marc Hanheide
Senior Lecturer in Computer Science
Room MC3221B
University of Lincoln
Brayford Pool
Lincoln, LN6 7TS
Phone: +44 1522 88 6966
EMail: marc@hanheide.net
Web: http://www.hanheide.net
skype: mah99de

[2014-02-25 11:57] hawesie commented on #2
On 25 Feb 2014, at 11:33, Marc Hanheide notifications@github.com wrote:

Management or systems? Maybe it's better to stick with email and assume that the human responsible creates issues if necessary.

[2014-02-26 21:19] hawesie commented on #2
Jenkins build is back to normal. Now to see if the system actually runs.

[2014-02-27 16:56] bfalacerda opened #12 "datacentre looks in wrong place for db"
With the new changes, the db default directory in now /opt/ros/ros_datacentre, so when I tried to launch the datacentre I had the following:

[code]

Also, is it good to change the db to `/opt/ros`, which is owned by root instead of keeping it `/opt/strands`?

[2014-02-27 17:12] bfalacerda opened #13 "waypoint patroller cannot read points from the database"
I worked around the previous issue (#12), but now the waypoint patroller fails qwhen trying to read waypoints from the db. The points are loaded:

[code]

However when the point chooser tries to read them, this happens:

[code]

[2014-02-27 17:23] hawesie commented on #13
This is related to what I raised last night: https://github.com/strands-project/autonomous_patrolling/issues/118

[2014-02-27 17:24] hawesie commented on #13
I can fix it tonight or tomorrow.

[2014-02-27 19:30] hawesie commented on #12
Yep, it should be `/opt/strands`. I thought I'd reset this last night, but apparently not. Will fix now.

[2014-02-27 19:34] #12 closed, assigned to nobody

[2014-02-27 22:03] hawesie commented on #13
See PR https://github.com/strands-project/autonomous_patrolling/issues/118 for a fix (hopefully).

[2014-03-03 19:43] hawesie opened #17 "[message_store] update method for message_store"
The message_store service needs an update method for documents which match a given query. I will add an optional "upsert" parameter which adds the document if it doesn't match the query.

[2014-03-04 19:53] hawesie opened #18 "[message_store] change c++ interface to use BSON"
This will allow more general queries and meta descriptions.

[2014-03-04 20:02] hawesie opened #19 "Is the message_store ROS service necessary?"
I have the ROS message store service which adds/reads ROS msg types to the db in a standard form. This is called by MessageStoreProxy in both C++ and Python. However, as both language can access MongoDB directly then then don't really need to use this service and the MessageStoreProxy can access the db rather than use the service. I suggest that I remove the ROS service for now and refactor the pr

[2014-03-05 09:11] cburbridge commented on #19
I think this is a good idea on the Python MessageStoreProxy. However I think we need still need the Python-over-ros-service for the C++ side code as in C++ it is not so simple to implement a generic ROS message type storer/reader. We would have to implement message specific versions of the store/retrieve functions for all types we are interested in?

[2014-03-05 09:25] hawesie commented on #19
I think I could do it in C++ but it would be a bit of a pain. Maybe I'll reserve that in case we have performance issues later. Ok, just python for now.

[2014-03-05 09:38] cburbridge commented on #19
If do do it later in C++, how would you make a single generic store function?

[2014-03-05 09:50] hawesie commented on #19
Combining templates with BSON and reflection (I think). But let's ignore it for now.

[2014-03-11 12:28] #18 closed, assigned to nobody

[2014-03-11 14:04] bfalacerda opened #22 "update method deletes unchanged fields in meta"
I tried to change the waypoint visualizer in order to be able to update the db by dragging the waypoints in rviz (as we had before). I used the following command:

[code]

When I do it, all the meta info in the waypoints (map, pointset, etc.) disappears. Is this a bug or am I doing something wrong?

[2014-03-11 14:12] hawesie commented on #22
Almost certainly a bug. What do I need to reproduce this?

[2014-03-11 14:23] bfalacerda commented on #22
1. pull my fork of autonomous_patrolling https://github.com/BFALacerda/autonomous_patrolling
2. `HOSTNAME=bla roslaunch ros_datacentre datacentre.launch`
3. `rosparam set datacentre_waypoint_set "some pointset in your db"`
4. `rosrun waypoint_visualiser visualise.py`
5. open rviz and drag a waypoint. After that you can see in robomongo that some meta info for that waypoint was deleted

[2014-03-20 10:12] marc-hanheide opened #24 "Logging rosout into "flat" collection"
Currently, rosout logging in `logger.py` creates several collections by taking the name of each node to create a collection. That's not convenient for performing queries on the logs and for the log extractor. At the DaCTaF meeting, it was decided to "flatten" this into on collection. Is there a reason why this hasn't been done yet? Are there any side effects I should be aware of?

[2014-03-20 10:12] marc-hanheide commented on #24
maybe @hawesie or @cburbridge can comment on this?

[2014-03-20 10:13] hawesie commented on #24
No reason except time. It’s next on the list. I will try and do it over the next days although I have other higher priority tasks so it may not happen until the end of next week.

[2014-03-20 10:14] hawesie commented on #24
Also logger.py will be deprecated and we will switch to mongodb_log so this shouldn’t really be inspected for the DaCTaF requirements.

[2014-03-20 10:19] marc-hanheide commented on #24
great, thanks for the clarification. Give me a ping when it is changed, need it get the log extraction/browser finalised

[2014-03-20 10:22] hawesie commented on #24
I'd like to target the completion of all this by April 4th at the very latest.

[2014-04-01 14:47] cburbridge opened #25 "Fail to create ROS message from stored Mongo document"
The MessageStore proxy can't recreate ROS messages when they include a list of ROS types. For example, trying to store a geometry_msgs/Polygon fails because it containts a list of Point32:

[code]

The message is stored ok in the database, but when recreated the points list is created as a list of python dictionaries not a list of ROS messages.

The problem is in util.py, line 150, only dicitionar

[2014-04-01 14:48] hawesie commented on #25
If this is high priority, could you put that code in? Else I can do it once the navigation/scheduler is completed.

[2014-04-03 22:59] hawesie opened #29 "Add query_id to C++ message store interface"
Python client can query message store via ObjectID. This needs to be added for the C++ interface.

[2014-04-06 17:48] hawesie opened #30 "insertNamed with duplicate name"
If `insert_named` is called twice with the same name, then two entries will be created but with the same `_meta.name` fields. Should this really do an `update_named` instead, i.e. change the value associated with the name when the second call is made?

[2014-04-07 11:28] cburbridge opened #32 "Snapshot"
I'd like to be able to store a 'snapshot' of all sensors on the robot, straight to the datacentre. To do this I thought I'd just create a new node that provides a single service '/take_snapshot', returning a list of message types and their ObjectId s from the db. (Using MessageStore)

Do we already have this? It is related to the idea of always storing the last X amount of time of the sensors, but

[2014-04-07 15:32] hawesie commented on #32
This should be part of the logging functionality. We will configure which topics are logged, then the snapshot can save archive a set of entries.

How pressing is this? It’s on my list, but not with high priority at the moment. I’d be happy to collaborate on it!

[2014-04-10 12:49] cburbridge opened #33 "Allow to remove stored messages"
We should have a remove function to allow people to remove messages. In reality, it should only move the message to a rubbish bin...

[2014-04-10 12:51] hawesie commented on #33
Yep. This can follow the query interface.

I we implement a rubbish bin, should it only every be manually (i.e. via RoboMongo) emptied?

[2014-04-10 12:52] hawesie commented on #32
For a snapshot, would you want the previous message published on a topic, the next, or configure this somehow?

[2014-04-10 12:53] cburbridge commented on #33
I think so, too risky otherwise. Even RoboMongo is very dangerous...

[2014-04-10 14:18] cburbridge commented on #32
If we have a continuous log of the last hour so, which is is always logged by default, then a we could have it based on time.
So the request would be

`get_snapshot(time_stamp)`

returning a list of tuples

`(topic,message_id)`

where `topic` is the topic string, and `message_id` is an identifier to be used in a `MessageStoreProxy` to get hold of the message closest in time to the `time_stamp`.
To

[2014-04-10 15:02] hawesie commented on #32
Do you really care about “nearest” in time, i.e. both forward or backwards? I you want to recreate what the system knew at that point, then only backwards makes sense. If you’re doing something else then maybe closest does though.

[2014-04-10 15:15] cburbridge commented on #32
For desktop perception, we will grab a point cloud, and send it (ros service call) to be segmented and classified. When the results come back, we update the table representation in the database, and along with it store the 'snapshot' at the time in the pointcloud header.  If there has been new data between the time i grab the point cloud and the time i request a snapshot, and that is closer in tim

[2014-04-10 21:40] hawesie commented on #33
I'll put this in tomorrow.

[2014-04-10 21:41] cburbridge commented on #33
I've added a delete service. It is only possible to delete a single message at a time, and only by ID. This means that to delete a message first the user must find it through the usual query service, so hopefully accidental deletion won't happen. There is no C++ interface yet.

I have inadvertently merged this together with my earlier pull request for the unittest that I added...

[2014-04-10 21:45] hawesie commented on #33
Ok, great (except for the naughty sneaky merge!). I plan to spend most of Friday coding on STRANDS stuff, so I can add the C++ interface as I add in the other parts which are missing from C++ too, before looking at logging/snapshots.

I added a test last week (https://github.com/strands-project/strands_executive/blob/hydro-devel/task_executor/tests/fifo_tester.test) so we should get these onto Jen

[2014-04-11 12:30] hawesie opened #35 "update method using id"
We have update and update queried by name, but we should also add update based on id.
- [ ] `update_id` in python
- [ ] `updateID` in c++

[2014-04-11 13:07] #29 closed, assigned to nobody

[2014-04-11 14:38] hawesie commented on #33
C++ added in #36

[2014-04-11 14:38] #33 closed, assigned to hawesie

[2014-04-11 14:40] hawesie opened #37 "init_node issue when logging all topics"
When running and trying to log all topics, e.g.

`rosrun mongodb_log mongodb_log.py -a`

I sew a weird issues that makes it look like `init_node` is getting called twice, even though these calls appear to be coming from separate processes

[code]

If I run with explicitly provided topics, this doesn't happen.

[2014-04-11 15:25] hawesie opened #38 "Logging / storage of image types flawed."
It looks like logging images directly to mongo is problematic with the current setup, producing errors like:

`strings in documents must be valid UTF-8`

[2014-04-11 15:27] hawesie opened #39 "mongodb_log_tf.cpp needs update for TF2"

[2014-04-11 15:30] hawesie commented on #32
But forward in time raises issues if there isn't anything there. I guess the same is true for backwards.

Anyway there appears to be some issues with the logging tools we have at the moment and I'd like to focus on providing something that works for you, so please can you let me know what message types you will want to snapshot? I will try to ensure that these work initially.

[2014-04-11 16:05] hawesie commented on #24
The overall logging is not particularly advanced, but at least I think the message storage format is fixed. If you run

`rosrun mongodb_log mongodb_log.py /rosout_agg`

you will get messages stored in the database `roslog` under the  collection `rosout_agg`. I will probably make some changes such that `roslog` dbs get archived after each run, but the overall format should probably remain fixed if

[2014-04-11 16:09] marc-hanheide commented on #24
sweet! I'll adjust what I have ASAP.

[2014-04-11 16:09] #25 closed, assigned to nobody

[2014-04-11 16:10] hawesie commented on #2
All done ages ago.

[2014-04-11 16:10] #2 closed, assigned to hawesie

[2014-04-11 16:11] hawesie commented on #7
No complaints, so closing.

[2014-04-11 16:11] #7 closed, assigned to Jailander

[2014-04-11 16:11] #17 closed, assigned to hawesie

[2014-04-11 16:11] #13 closed, assigned to nobody

[2014-05-04 16:47] #38 closed, assigned to nobody

[2014-05-05 11:18] nilsbore opened #48 "Can't build message_store any more because of c++11 use"
The changes to e.g. message_store.h requires all nodes using it to be compiled with c++11 flags. Should this be the default?

[2014-05-05 11:19] nilsbore commented on #48
To clarify: this is not the standard on our default g++ compiler.

[2014-05-05 12:06] hawesie commented on #48
Hmm… I’d like to use c++11, and added it to the projects I build, but I can easily take it out.

Is there a way to automatically export compile definitions from a library so they’re used by dependent packages?

[2014-05-05 12:17] nilsbore commented on #48
I agree that it would be nice to use c++11! Can I pass a flag to catkin_make to build with it?

Hmm, I don't think that is possible unless you know all the template types beforehand.

[2014-05-05 12:47] hawesie commented on #48
Add `add_definitions(-std=c++0x)` to your cmake file. Not sure on the catkin option though.

[2014-05-05 13:06] nilsbore commented on #48
ok, got it running now. what should I use as _collection,  _database and  _servicePrefix? I think me and Chris are using our own collection but I'm not sure about the other two...

[2014-05-05 14:30] nilsbore commented on #48
Thing is, when I try to use it without setting these arguments, it says: "[ INFO] [1399294889.489545466]: waitForService: Service [/message_store/insert] has not been advertised, waiting...". The datacentre is running.

[2014-05-05 14:33] mzillich commented on #48
I have the same C++11 problem. To which cmake file do I need to add add_definitions(-std=c++0x) ?

[2014-05-05 14:35] nilsbore commented on #48
I might have added it already, I'll merge the change

[2014-05-05 14:35] nilsbore commented on #48
Ok, could work with https://github.com/strands-project/strands_tabletop_perception/pull/49. Try to update strands_tabletop_perception.

[2014-05-05 14:37] nilsbore commented on #48
Note that you might have to update strands_utils also if you haven't done that for a few days.

[2014-05-05 14:40] mzillich commented on #48
I always run  wstool update in strands/opt/strands_catkin_ws , to make sure I get all

[2014-05-05 14:43] mzillich commented on #48
great, works! thanks

[2014-05-14 17:35] cdondrup opened #52 "[replicator_node] Dies if datacentre is not starting fast enough"
It seems the replicator node dies if the datacentre is not yet launched:

[code]

If possible it should wait I guess.

[2014-05-14 17:39] hawesie commented on #52
On 14 May 2014, at 21:35, Christian Dondrup notifications@github.com wrote:

This was fixed in https://github.com/strands-project/ros_datacentre/pull/51 so please update your datacentre.

[2014-05-14 17:47] cdondrup commented on #52
Did it today. Just tried again:

[code]

No updates.

[2014-05-14 17:50] hawesie commented on #52
Odd, because the wait is there in the main branch:

https://github.com/strands-project/ros_datacentre/blob/hydro-devel/ros_datacentre/scripts/replicator_node.py#L21

and the datacentre doesn’t publish this topic until the params are set

https://github.com/strands-project/ros_datacentre/blob/hydro-devel/ros_datacentre/scripts/mongodb_server.py#L36

[2014-05-14 17:58] cdondrup commented on #52
Just checked. In our version these lines are exactly the same. Don't know why it fails then.

[2014-05-14 19:16] hawesie commented on #52
This just happened to me once, but now I can’t recreate it! Odd.

[2014-05-14 19:19] hawesie commented on #52
Is there something wrong with the logic?

[2014-05-16 11:08] cdondrup commented on #52
Seems to happen very reliably after restarting the robot:

[code]

[2014-05-16 11:10] cdondrup commented on #52
Here is the log if that helps:

[code]

[2014-05-16 14:36] hawesie commented on #52
My guess at this is that ros params are not set in a blocking call and thus they are not available from the parameter server by the time the wait topic comes up.

[2014-05-21 10:35] cburbridge opened #54 "[replicator_node] Non message_store databases"
Add the database name to the action definition and service routine to allow collections in databases other than 'message_store' to be replicated.

[2014-05-21 11:12] rmbennett opened #55 "ros_datacentre Questions"
I have a few questions about ros_datacentre.

1) What kind of ROS data can be stored using ros_datacentre?

2) How is data queried using ros_datacentre - what kind of queries can be performed?

3) Is there any facility for playback of the stored data? (Akin to playback using ros bags)

Thanks in Advance.

[2014-05-21 11:28] hawesie commented on #55
1) Anything that you can put in a [ROS message](http://wiki.ros.org/msg) can be stored using the datacentre. Here's an example of a `Pose` object stored via `mongodb_log.py`:

[code]

2) As it's just Mongo DB under the hood you can perform any valid Mongo DB query on the datacentre. If you use the `message_store` you get a simplified API for querying on type and name.

3) Not yet, but this is the

[2014-05-21 11:37] rmbennett commented on #55
The example application I'm looking at is something along the lines of  -

"Leave a robot running all day constantly collecting data.  Then at the end of the day we want to come and look at the data collected - however we just want to look at the "interesting" parts, (Maybe some one walks past the robot, asks it a question or just interacts with it in some way). So we need a way to easily pick out

[2014-05-21 11:41] hawesie commented on #55
Excellent, this really matches our aims. We're currently trying to run our robots for up to 15 days continuously to generate data from long-term deployments.

I'd suggest defining your own "interesting thing occurred" ROS message type (e.g. including ROS Time, string description, maybe a list of topics to look at) and then writing that out via the message store when certain components are triggere

[2014-05-21 11:44] rmbennett commented on #55
Brilliant thanks!

Could I ask for a brief comment on the current differences between the groovy-devel and hydro-devel branches are at the moment?

[2014-05-21 11:48] hawesie commented on #55
Only hydro-devel is actually being developed, but I believe it should be completely compatible with groovy (as we only use catkin). Therefore I suggest trying hydro-devel first. We can merge our changes into groovy-devel if there really is a problem.

[2014-05-21 11:52] rmbennett commented on #55
Okay - I'll use the hydro branch and get back to you.

Thanks!

[2014-05-21 14:16] rmbennett commented on #55
So having pulled the code - I have immediately received this error.

I assume that I've done something inherently wrong as it's on both groovy-devel and hydro-devel branches.

Traceback (most recent call last):
  File "/home/rmb209/rosHydro/stacks/ros_datacentre/ros_datacentre/scripts/mongodb_server.py", line 12, in <module>
    import ros_datacentre.util
ImportError: No module named ros_datacentr

[2014-05-21 14:21] hawesie commented on #55
Have you run `catkin_make` in your workspace? And how are you trying to launch this?

[2014-05-21 14:44] rmbennett commented on #55
Yes, and like this as described in the readme.

rosrun ros_datacentre mongodb_server.py
Traceback (most recent call last):
  File "/home/rmb209/rosHydro/ws_baxter/src/ros_datacentre/ros_datacentre/scripts/mongodb_server.py", line 12, in <module>
    import ros_datacentre.util
ImportError: No module named ros_datacentre.util

[2014-05-21 19:28] hawesie commented on #55
How about `roslaunch ros_datacentre datacentre.launch`

[2014-06-20 09:18] marc-hanheide opened #56 "Authentication"
In order to use our external database for replication, the ros_datacentre needs to support authentication. At least for the replication to work this is crucial, but also in general, it seems to be a good idea to support authentication, right?

[2014-06-22 09:21] #19 closed, assigned to nobody

[2014-07-07 13:30] marc-hanheide commented on #5
Has there been any progress on this? @Jailander and @markrosoft need this in short time, so before we start hacking, an update would be welcome.

[2014-07-07 15:02] hawesie commented on #5
No progress on this end.

[2014-07-09 14:47] ToMadoRe commented on #32
Is there any progress on this?
I am also interested in getting snapshots of topics (i.e. point cloud, robot_pose and tf) when calling an action for example.
And for debugging replay these topics in a "non-continuous" way.

[2014-07-10 09:17] cburbridge commented on #32
For the desktop logging I implemented some stuff in python: https://github.com/strands-project/strands_tabletop_perception/blob/hydro-devel/world_state/src/world_state/observation.py It just grabs messages on given topics and uses the MessageStore to keep them. For TF, it zlib compresses the TF message received while getting the other messages and stores it as a  ros_datacentre_msgs/SerialisedMess

[2014-07-10 09:39] Jailander commented on #32
Hi I also did something similar is an action server that captures some specific topic, it needs a lot of improvement that is why it is still unmerged, you can find it in: https://github.com/Jailander/autonomous_patrolling/blob/hydro-devel/patrol_snapshot/scripts/snapshot.py

[2014-07-10 10:08] ToMadoRe commented on #32
@cburbridge: This looks interesting and might be exactly what I was looking for. Do you also have a test file where I could read the various stored topics from `observation_trial.py`?

[2014-07-10 10:54] hawesie commented on #32
I think we need two things in:

1) the topic logger should allow topic logging to be turned off and on at run time. This will allow things to be captured in the way you want. I would probably do this through dynamic reconfigure, unless there's a better way.

2) the aim of the snapshot is also to allow past data to be recovered so that on an event you can log data leading up to the event.

I will s

[2014-07-10 11:07] hawesie commented on #32
Hmmm dynamic_reconfigure doesn't do lists, so that's tricky.

[2014-07-10 15:56] cburbridge commented on #32
@ToMadoRe, you could use it something like this:

[code]

The way that the above code saves the Observation instance in the datacentre is not so nice. In the perceive_tabletop action code the observations were associated with tables, so it made sense. Here it feels a bit messy to have to store them manually.

[2014-07-10 16:09] ToMadoRe commented on #32
@cdondrup: Thanks a lot. I think this is exactly what I needed :)

[2014-07-10 16:37] cdondrup commented on #32
I think you got the wrong chris @ToMadoRe but it sure feels nice to be appreciated. :D

[2014-07-10 20:05] abencz commented on #37
This is related to this ROS trac ticket: https://code.ros.org/trac/ros/ticket/972

Explicit topics work because they spawn new processes before `init_node` is called in the main process. I'm working on fixing this by removing the `init_node` and associated ROS code in the main process (not really necessary for it to function at the moment).

Another solution might be to spawn workers as threads an

[2014-07-11 08:20] hawesie commented on #37
Ah, that explains it then! When you say you're fixing this, is it on a fork of this repo or the original mongodb_log repo?

[2014-07-11 14:13] abencz commented on #37
I'm fixing it in my fork: https://github.com/abencz/ros-mongodb_log

Haven't gotten in touch with the original author, but I'm also sprucing this package up for a proper ROS Hydro release.

[2014-07-11 14:58] abencz commented on #37
Interesting, I got here by means of google search. Didn't realize this was a folding of mongodb_log into another set of packages.

[2014-07-16 15:33] cdondrup opened #60 "Storing binary from parameter server."
I am currently trying to get rid of all the config files the ppl perception still needs because this often breaks if launched remotely using the machine tag (weird ros behaviour which requires hard coding of the paths instead of using the `find` tag and therefore it breaks on robots that don't use the standard set-up). The HOG feature extraction uses a binary model file which I can store on the RO

[2014-07-16 21:33] cburbridge commented on #60
@cdondrup the above PR should fix this, please test it an let me know..

[2014-07-17 09:17] #60 closed, assigned to nobody

[2014-07-17 10:01] cdondrup opened #63 "Updating stored binarys"
After #60 was fixed I tried to update the stored binary and ran into a similar error:

[code]

Deleting the parameter from the config DB manually and reinserting it worked fine but the direct update via the config manager does yield above error. Do you have an idea what might cause this @cburbridge ?

[2014-07-17 14:08] cburbridge commented on #63
The above should fix this, please let me know the next problem :-)

[2014-07-17 14:36] #63 closed, assigned to nobody

[2014-07-18 07:28] #37 closed, assigned to nobody

[2014-07-18 07:29] hawesie commented on #55
Did you ever get going with this?

[2014-07-18 11:59] cdondrup opened #65 "Adding new default parameters breaks the config_manager"
I found another one @cburbridge :)
I just tried to enter a new parameter to the defaults store and got an error message. First I thought that the parameter itself was illegal because I might have missed some yaml convention, so I tried to create another parameter which had to work but still got an error. I tried to drop the defaults collection to check if it as an update problem and then I also tr

[2014-07-18 13:43] cburbridge commented on #65
Oops. The above commit / PR fixes this one.

[2014-07-21 16:38] #65 closed, assigned to nobody

[2014-08-08 10:38] marc-hanheide opened #68 "prepare for rosdistro"
I tried a test "submission" of `ros_datacentre` into rosdistro using [bloom](http://wiki.ros.org/bloom/Tutorials/FirstTimeRelease). Here's what I got back from the maintainers:

see this pull request:  https://github.com/ros/rosdistro/pull/5223

So we should fix a few things:
- [x] get rid of the `ros_` prefix: #69
- [x] remove log_extractor as it is a stub #72
- [x] move strands_diagnostics somew

[2014-08-08 11:00] hawesie commented on #68
Also @abencz

I suggest making the bullets separate issues as they may each warrant individual discussion, and grouping them under a "prepare for rosdistro" milestone. I can do this if you want?

[2014-08-08 11:22] marc-hanheide commented on #68
aah! got it... go for it!

[2014-08-08 11:30] hawesie opened #69 "Rename packages and repo from ros_datacentre"
As requested in https://github.com/strands-project/ros_datacentre/issues/68 renaming should:

a) Match ROS conventions http://wiki.ros.org/ROS/Patterns/Conventions

b) Drop the `ros_` prefix.

c) Make the name more directly understandable.

[2014-08-08 11:33] hawesie opened #70 "Move strands_diagnostics somewhere else"
As requested in #68  the strands-specific (?) `strands_diagnostics` package should be moved out of the datacentre repo.

[2014-08-08 11:38] cdondrup opened #71 "move default parameter store"
I think if it's going to be in the rosdistro the parameter files should not be stored inside the package but have a configurable path to read the files from. Also the twitter thing should be removed.
Maybe we can have a separate repository for default parameters or put them in scitos_common or similar.

[2014-08-08 11:52] hawesie commented on #71
It should definitely be removed anyway as this is a public repo so nothing would stop someone accessing that account (if they can work out which one it is).

The default path should probably be an argument to the component.

[2014-08-08 11:53] hawesie commented on #70
@marc-hanheide do we need to move it or can we just take it out of the bloom release?

[2014-08-08 11:54] hawesie opened #72 "Remove log_extractor"
As requested in #68 remove log_extractor as it is a stub.

[2014-08-08 11:55] hawesie commented on #69
For the rename @marc-hanheide suggested  `mongostore` or `mongstor`. The first one should probably be `mongo_store` according to convention.

[2014-08-08 12:44] marc-hanheide commented on #70
I'd have to have a look. But I think you have to release a repository as
bulk.
On 8 Aug 2014 12:53, "Nick Hawes" notifications@github.com wrote:

[2014-08-09 09:20] cburbridge commented on #70
This is just a left over from the strands_datacentre. I think that strands_diagnostics is not needed or used anywhere. `/rosout` logging is best done using the `mongodb_log` as we have been doing, and I don't think anyone publishes `DiagnosticMessage` message on `/strands_diagnostics`.  The node is also commented out in `datacentre.launch`.

[2014-08-09 09:43] cburbridge commented on #71
I'll make it a parameter. The defaults are files that should be shared between users, so are best kept in a repository that is part of the standard install. For strands, the deployment package would be a good place.

The parameters should be stored in a ROS package as this will keep the system independency - then the parameter to the `config_manager` will be `pkg://strands_configs/defaults` for ex

[2014-08-09 09:53] cburbridge commented on #69
We could keep uniformity with the `mongodb_log` package and go with `mongodb_store`. But the package contains the MessageStore, the config manager and the mongodb server wrapper, so "store" might not be descriptive enough.

An alternative is to merge with the `warehouse_ros` package. Does this package meet naming conventions?

[2014-08-10 18:34] hawesie commented on #70
Ok, let's just delete it then: #73

[2014-08-10 18:39] hawesie commented on #71
Good plan. I'll leave this to you.

[2014-08-10 18:40] hawesie commented on #69
`mongodb_store` is my favourite so far,

[2014-08-10 22:21] #70 closed, assigned to hawesie

[2014-08-11 08:41] hawesie commented on #72
@marc-hanheide I'm assigning this to you as the log_extractor is your baby,

[2014-08-11 08:49] marc-hanheide commented on #72
removed in 3ccf6796f19f46917c33362b549aa0a961bdffad as this was an empty stub anyway (the real thing is being developed elsewhere ATM)/

[2014-08-11 08:49] #72 closed, assigned to marc-hanheide

[2014-08-11 18:43] hawesie commented on #69
It gets a :+1: from ROS too https://github.com/ros/rosdistro/pull/5223#issuecomment-51821545

[2014-08-11 19:49] #71 closed, assigned to cburbridge

[2014-08-12 10:56] marc-hanheide opened #75 "gtest doesn't work on build farm"
the gtests in ros_datacentre don't qualify as unit tests as they need a mongodb running on a specific port. This fails on the build farm. It should be removed or not be enabled by default, IMO.

[2014-08-12 11:25] hawesie commented on #75
Ok, will look into it. Is this for the release?

[2014-08-12 11:34] marc-hanheide commented on #75
yes and no... I'm actually setting up our own STRANDS build farm (it kind of works already) mimicking ROS as far as possible. The rules will be quite strict (actually the same as on ros.org):
- every package is build in its own chroot environment
- dependency resolution is only via rosdep
- every build is a clean build with freshly updated debian packages (also for ROS)

If you're curious, check h

[2014-08-12 13:04] hawesie commented on #69
I am going to do this now.

[2014-08-12 15:09] hawesie commented on #75
For the datacentre I am writing [rostest](http://wiki.ros.org/rostest)s. These are designed as integration tests, not unit tests.

To test the python parts:

[code]

To test the cpp parts:

[code]

These both pass for me. They can also be run from `catkin_make` which is what I'm assuming the build farm is doing via `catkin_make run_tests`. The individual targets are:

[code]

The odd thing is that

[2014-08-12 15:22] marc-hanheide commented on #75
Just note that it would fail if two tests are run in parallel. Eg. when
testing for both hydro and indigo on the same host. It's a but bad luck but
could happen. Or can you configure mongo to only user local sockets?
On 12 Aug 2014 16:09, "Nick Hawes" notifications@github.com wrote:

[2014-08-12 15:26] hawesie commented on #75
I was adding the tests wrong. I was using the add gtest macro but I should be used `add_executable` and `add_rostest`. I'm doing this now. Once the renaming is done I will commit this too. And look at the ports issue.

[2014-08-12 15:27] hawesie commented on #75
catkin forces -j1 when running tests. Does the parallelism come from jenkins?

[2014-08-12 15:32] hawesie commented on #75
The datacentre will also need a test mode where it creates its own local directory for storage, rather than assuming a global one.

[2014-08-12 15:33] hawesie opened #77 "Add test mode to datacentre"
The datacentre will also need a test mode where it creates its own local directory for storage, rather than assuming a global one. Needed due to #75.

[2014-08-12 19:10] marc-hanheide commented on #75
Yes... Jenkins would test code for both hydro and indigo, potentially in parallel, and also for different distros.

[2014-08-13 08:58] hawesie commented on #75
Ok, will find a way to randomise ports.

[2014-08-13 09:53] hawesie commented on #77
Also needs randomised or otherwise unique port.

These both must support parallel running of multiple datacentres.

[2014-08-13 12:39] marc-hanheide commented on #75
The merged pull request triggered a build on the new jenkins: http://lcas.lincoln.ac.uk/jenkins/job/devel-hydro-ros_datacentre/ARCH_PARAM=amd64,UBUNTU_PARAM=precise,label=devel/7/

So, we can see it built, but I had to kill the tests manually as they would wait forever...

[2014-08-13 23:01] hawesie commented on #68
All done.

[2014-08-13 23:01] #68 closed, assigned to nobody

[2014-08-14 10:27] cburbridge commented on #69
We should also change the name of the parameters `datacentre_port` and `datacentre_host` to `mongodb_port` and `mongodb_host`. Should just be a globabl search and replace across all files in all repositories....

[2014-08-14 11:13] hawesie commented on #69
Yep, that would've been a sensible thing to do with all the other PRs. Damn.

[2014-08-18 11:13] #69 closed, assigned to nobody

[2014-08-21 12:49] marc-hanheide opened #80 "emails in package.xml"
you should check the email addresses in package.xml

[code]

[2014-08-30 14:30] mudrole1 opened #81 "ros_datacentre vs mongodb_store, confusion and error while running"
Hi all,
I updated my system and I am confused if ros_datacentre has changed to mongodb_store, as they contain  for the first look pretty much same stuff and I cant see ros_datacentre package anymore in strands repositories.

My problem is that I wanted to replay some data using command:
`roslaunch ros_datacentre datacentre.launch db_path:=...`
so now, is it command
`roslaunch mongodb_store mongodb

[2014-08-30 14:47] mudrole1 commented on #81
Ok, I overcame the errors by cloning mongodb_store locally.
I can replay data from db now, so I think this can be closed as I answered myself :)

[2014-09-09 10:26] marc-hanheide opened #82 "is this now ready for a pull request against official ROS repositories?"
if so, I'd crate one as I want to test the procedure to go from our own distribution into the official ROS one.

[2014-09-09 10:54] hawesie commented on #82
Go ahead.

[2014-09-11 08:14] #82 closed, assigned to hawesie

[2014-09-11 08:14] #80 closed, assigned to hawesie

[2014-09-11 08:14] marc-hanheide commented on #75
works now

[2014-09-11 08:14] #75 closed, assigned to hawesie

[2014-09-11 08:16] marc-hanheide opened #83 "doesn't link on raring and trusty"
... and maybe other distributions as well...

I'm trying to make mongodb fit for
trusty/indigo. This post suggests that to libs need to be added:
http://stackoverflow.com/questions/17538871/mongodb-2-4-c-driver-undefined-reference-to-ssl-ctx-use-certificate-chain-f

But maybe you know more precisely what the problem is? SHouldn't that
be resolved automatically via the mongoclient library? Where's

[2014-09-11 08:18] marc-hanheide commented on #83
log:

[code]

taking from http://lcas.lincoln.ac.uk/jenkins/view/Idev/job/devel-indigo-mongodb_store/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/2/console

[2014-09-12 12:44] marc-hanheide commented on #77
So... it works nicely in hydro now, but still fails in indigo: http://lcas.lincoln.ac.uk/jenkins/job/devel-indigo-mongodb_store/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/8/console

[2014-09-12 12:45] marc-hanheide commented on #77
Here's the relevant bit:

[code]

apparently `mongod` would need to listed in the `package.xml` as a dependency as it is not installed here.

[2014-09-12 13:11] marc-hanheide commented on #77
Fixed in https://github.com/strands-project/mongodb_store/pull/89

[2014-09-12 13:12] #77 closed, assigned to marc-hanheide

[2014-09-12 13:14] #83 closed, assigned to hawesie

[2014-09-12 13:15] #81 closed, assigned to nobody

[2014-09-15 16:11] hawesie opened #90 "Create meta-package"
... to install all packages in this repo.

[2014-09-16 17:05] hawesie opened #91 "Move C++ client into main package"
Currently the c++ API for the message store is a separate package. I did this for flexibility, but is it really necessary? Can anyone make a good argument for why I shouldn't move it back into the main package?

[2014-09-30 14:42] #48 closed, assigned to nobody

[2014-09-30 14:43] hawesie commented on #55
Our code is now in the ROS Ubuntu repository, so please use it from there if you're still using it.

[2014-10-08 21:27] marc-hanheide commented on #91
Is there any situation where one would use it separately? If not, it's not worth having a separate package, I'd say.

[2014-10-09 08:43] hawesie commented on #91
Agreed, I'll move it.

[2014-10-10 08:24] #24 closed, assigned to nobody

[2014-10-10 08:25] hawesie commented on #5
I'm starting on a GUI-less version for now. I'll hopefully have a prototype up and running in the next few days.

[2014-10-15 16:26] marc-hanheide opened #95 "[mongodb_store_cpp_client] installed include dir not at correct place"
@ToMadoRe installed the mongodb_store package (removing src folder and install it via apt-get), but there is something wrong:

[code]

I found in `mongodb_store_cpp_client`'s `CMakeLists.txt` the following:

[code]

That obviously invalidates the install includes as they are being installed into `/opt/ros/hydro/include/mongodb_store_cpp_client` while they are expected in `/opt/ros/hydro/include/mo

[2014-10-15 17:56] hawesie commented on #95
Noted.

[2014-10-16 09:47] marc-hanheide commented on #95
In addition, please also fix the exported catkin dependencies:

[code]

to also include Boost:

[code]

[2014-10-16 13:43] ToMadoRe opened #96 "Boost Lib dependency"
@hawesie: As @marc-hanheide pointed out on Gitter, there is a missing dependency in `mongodb_store_cpp_client` for the Boost library. Can you please fix this?

[2014-10-16 19:06] hawesie commented on #1
Done a long time ago!

[2014-10-16 19:06] #1 closed, assigned to hawesie

[2014-10-16 21:25] #5 closed, assigned to hawesie

[2014-10-16 21:25] #95 closed, assigned to hawesie

[2014-10-16 21:27] #91 closed, assigned to nobody

[2014-10-16 21:27] hawesie commented on #96
Closed in #97

[2014-10-16 21:27] #96 closed, assigned to nobody

[2014-10-17 05:17] marc-hanheide opened #98 "[mongodb_store] geometry_msgs is missing dependency to build the example"
from [log](http://lcas.lincoln.ac.uk/jenkins/view/Releases/job/ros-hydro-mongodb-store_binarydeb_precise_amd64/5/console):

[code]

A common problem, that some package in a repo include the dependency but then the package itself doesn't causing the devel build to succeed and the release build to fail :disappointed:

[2014-10-17 06:26] hawesie commented on #98
I took this out as I thought it was an error. I'll add it back today. How come the PR built ok?=

[2014-10-17 06:40] marc-hanheide commented on #98
Well, this is the difference between devel and release builds. The devel build is taking the repository as a whole and compiles it. So, if there is another package in the repo that has the dependency it will be installed. In this case, I think, `mongodb_log` has `tf` as a `build_depend`, which causes `geometry_msgs` to be installed in the virtual devel build environment. Hence, the headers are fou

[2014-10-17 07:18] #98 closed, assigned to hawesie

[2014-10-17 12:07] marc-hanheide opened #100 "mongoclient dependency must not be passed on to dependent packages"
as discussed in https://gitter.im/strands-project/archives/2014/10/17

IMO, `${MONGOCLIENT_LIB}` needs to be removed from

[code]

as this is not resolved into a Debian dependency as it is turns out `libmongoclient.a` is a static lib.

[2014-10-17 12:10] marc-hanheide commented on #100
(if I should stop assigning you these things, shout out or reassign them, I just don't have proper connection to fix things myself at the moment)

[2014-10-17 17:28] hawesie commented on #100
Is this breaking things, or is it just a preference?

[2014-10-17 17:31] hawesie commented on #100
Ah, sorry, checking the chat logs now. Will fix.

[2014-10-19 14:58] cdondrup commented on #100
In addition to the calibrate chest, it also broke the docking package.

[2014-10-19 20:27] hawesie commented on #100
Please could someone do some testing for me? You need to use mongodb_store from here: https://github.com/hawesie/mongodb_store Build that, then try to compile the following package: https://github.com/hawesie/test_store

For me it only works _with_ the `MONGOCLIENT_LIB` dependency.

[2014-10-19 20:40] hawesie commented on #100
This was on Indigo.

[2014-10-19 20:44] marc-hanheide commented on #100
I'll dig into it tomorrow.
On 19 Oct 2014 22:40, "Nick Hawes" notifications@github.com wrote:

[2014-10-20 10:02] cdondrup commented on #100
Just tried it. Had to rename the build target in `test_store` to `test_mongodb_store_cpp_client` because `example_mongodb_store_cpp_client` already existed in `mongodb_store` but afterwards it did build without problems.

I removed the `mongoclient` from the dependencies because it was still in there in your fork @hawesie:

[code]

And this is the result

[code]

I also made sure that I removed th

[2014-10-20 10:08] hawesie commented on #100
@cdondrup sorry, I wasn't clear enough on this. Please can you create second workspace for the test_store package? This will mimic the install setup more closely, i.e. mongodb_store is built and some other package needs it for compilation.

[2014-10-20 10:09] cdondrup commented on #100
ok, will try.

[2014-10-20 10:15] cdondrup commented on #100
Ok, with the intended set-up it doesn't work for me either:

[code]

If I include the mongoclient in the dependencies again, it builds.

[2014-10-20 10:19] hawesie commented on #100
Ok, then at least our systems are behaving in the same way! @marc-hanheide so, what's your verdict? It looks like for the installed system we need the link. Or will things be different again when installed as a binary?

[2014-10-20 12:21] marc-hanheide commented on #100
Hmm, I just tested this and it seems to work fine. What I did:
1. `apt-get purge` for all ros-hydro-mongo-\* packages
2. create catkin workspace A, checked out https://github.com/hawesie/mongodb_store.git, built it, (in a second attempt also installed it)
3. create catkin workspace B, checked out https://github.com/hawesie/test_store.git, sourced the `setup.bash` of workspace A, built it, and trie

[2014-10-20 12:40] marc-hanheide commented on #100
OK, found that the current version had the `${MONGOCLIENT_LIB}` in its catkin exports... removed it and now it fails as expected

[2014-10-20 13:43] ToMadoRe commented on #100
Does this correspond to the same issue?

[code]

[2014-10-20 14:01] marc-hanheide commented on #100
So, we should take https://github.com/ros-planning/warehouse_ros/blob/master/CMakeLists.txt as the correct way of doing this. The problem is that the static library is not correctly exported into the the Debian package.

But my original solution of just dropping it is not the correct one either. So, I think the above package should serve us as a good example that we should adopt (in particular the

[2014-10-20 14:48] hawesie commented on #100
I used the above approach in b3e5cbbe1e41d4089c1d3f637925a05ced69cd3a so please could you update from my fork and try again?

[2014-10-20 19:23] hawesie commented on #100
@cdondrup @marc-hanheide does this work for you now? There's something a bit odd with my VM install which is messing with this I think.

[2014-10-20 21:29] marc-hanheide commented on #100
didn't have a chance to test yet... But you did almost exactly what I tried (and then struggled with c11 settings and ran out of battery), so it looks like heading the right way.

I shall try...

[2014-10-20 22:03] marc-hanheide commented on #100
It didn't work for me straight away...

I had to change

[code]

to

[code]

So no this is always exported. I didn't quite get the magic of this code tkaen from `warehouse_ros`:

[code]

Seems the only declare depends if this `libmongoclient` is a shared (as it is on Ubuntu post-raring, I understand). Reading through https://github.com/ros-planning/warehouse_ros/issues/6 it seems the had similar p

[2014-10-20 22:19] marc-hanheide commented on #100
If the above still doesn't create the Debian deps needed I'll specify them explicitly in the bloom hydro release track for the package and that will definitely solve it for good.

[2014-10-21 00:02] marc-hanheide commented on #100
The last release seems to be working...

[2014-10-21 07:10] hawesie commented on #100
This seems to be missing the ssl linking to me. I took it out based on the warehouse approach, but I get errors.

[2014-10-21 07:19] marc-hanheide commented on #100
strange... I tested this both on my desktop and on jenkins... also, all subsequent builds (docking etc.) now finally work. What exactly fails for you?

[2014-10-21 07:20] marc-hanheide commented on #100
based on all my successful tests I opened https://github.com/ros/rosdistro/pull/6029 if you think there still is a problem I delete it.

[2014-10-21 07:21] hawesie commented on #100
If it works for you lets ignore me. I think there's something odd with my vm. =

[2014-10-21 07:33] marc-hanheide commented on #100
closing for now

[2014-10-21 07:33] #100 closed, assigned to hawesie

[2014-10-22 15:44] lucasb-eyer opened #103 "Linker error with libboost-filesystem-mt"
TL;DR: move `mongodb_store` to the top of your dependency list.

When adding the `mongodb_store` to your CMakeLists.txt, you might be greeted by

[code]

The important part being `undefined reference to symbol 'boost::filesystem2::detail::status_api(...)'`. The problem here is that your package is now implicitly linking to `libmongoclient.a` statically. That one needs to call a function defined in

[2014-10-22 19:01] hawesie commented on #103
Is there anything we can do in mongodb_store or is this due to the static lib? (which has caused us grief elsewhere)

[2014-10-22 22:24] lucasb-eyer commented on #103
Dynamic lib would be the easy way out. I'd have to play with a minimal example to see for the static case, but I don't really have time in the next two weeks, sorry! I'll post back when/if I do get something.

[2014-10-22 22:32] marc-hanheide commented on #103
We tried many different things today... no other than the fix @lucasb-eyer and I came up with worked. As @lucasb-eyer says, this ticket is more for documentation purposes. With indigo the problem will be gone, because finally mongoclient is dynamic in trusty. So, I close this for now

[2014-10-23 08:18] lucasb-eyer commented on #103
Actually, after a good sleep, no. This happens because the shipped `FindMongoDB.cmake` doesn't do [what it's supposed to do](http://www.cmake.org/Wiki/CMake:How_To_Find_Libraries#Writing_find_modules), specifically the first point:

What currently is `MongoDB_LIBRARIES` should actually be `MongoDB_LIBRARY`, and a `MongoDB_LIBRARIES` which includes all the dependencies (`boost-system` and `boost-fi

[2014-10-23 09:06] marc-hanheide commented on #103
Not sure I get it (maybe because I'm still sleep deprived). Are you referring to https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_store/cmake/FindMongoDB.cmake shipped with `mongodb_store`? The I don't get why you suggest `MongoDB_LIBRARY`. That isn't defined... Or what don't I get here?

[2014-10-23 09:38] lucasb-eyer commented on #103
Yes, I'm talking about that one. And what I'm saying is that `foo_LIBRARY` should usually be used for the `foo` library itself and nothing else, while `foo_LIBRARIES` should be a list containing the library itself _plus its dependencies_. In the current version of `FindMongoDB.cmake`, `MongoDB_LIBRARIES` is wrongly used for the library only, and nothing contains the library+dependencies. See the [

[2014-10-23 09:48] marc-hanheide commented on #103
Well, from the text (quoted from [here](http://www.cmake.org/cgi-bin/viewcvs.cgi/CMake/Modules/readme.txt?view=markup))

I conclude that indeed it is correct to have `libmongoclient.a` listed in `MongoDB_LIBRARIES`. What you are saying is that also the others should be listed here (e.g. `boost-filesystem`), right?

I think I have to agree on that. The problem is that this is only needed IF libmong

[2014-10-23 10:12] lucasb-eyer commented on #103
The first part is right.

In theory yes, but in practice it doesn't matter since linking to the _same_ dynamic library multiple times is not a problem.

I'm sorry I don't have the time to fix it now ; I'm very "deadlined" these weeks, already spent more worktime on this than I should :-/

[2014-10-29 20:23] marc-hanheide commented on #103
can I assume this is fixed by https://github.com/strands-project/mongodb_store/pull/105?

[2014-10-29 20:28] hawesie commented on #103
Let's just wait and see. I guess there's a chance I've done something to mess this up.

[2014-10-29 20:35] lucasb-eyer commented on #103
I'll try it next week, I'm in an integration week right now. Edit: is it "in" or "on"?

[2014-11-03 15:57] Jailander opened #106 "replicator node dies every time"
Hi,

I am testing the <strong>released</strong> version of mongodb_store and launching it always results in the replicator node crashing, this doesn't happen to me with the version on my strands_ws however it may still be the same issue as #52 since running `rosrun mongodb_store replicator_node.py` after the datacentre has been launched works without any problem and the log is the same:

[code]

[2014-11-04 12:25] marc-hanheide commented on #106
looks pretty much like the same problem #52. One cannot assume any order in launch files. So this requires active waiting and checking for some period until reaching a timeout I'd say. I'll mark this as a duplicate of #52 and assign @hawesie to it to check if that is the problem. Then he shall assign it to someone to fix it :-)

[2014-11-06 10:02] hawesie commented on #106
Closing as a duplicate of #52.

[2014-11-06 10:02] #106 closed, assigned to hawesie

[2014-11-10 15:46] bfalacerda commented on #22
closing old solved issue

[2014-11-10 15:46] #22 closed, assigned to nobody

[2014-11-10 16:37] #52 closed, assigned to nobody

[2014-11-17 10:39] nilsbore opened #114 "[mongodb_log] Optparse fails to parse arguments when provided via roslaunch"
`mongodb_log.py` Is unable to parse the input args when provided via roslaunch:

`<node pkg="mongodb_log" type="mongodb_log.py" name="mongodb_image_logger" args="--nodename-prefix=mongodb_image_logger $(arg compressed_rgb)/theora"/>`

It seems to think the topic to save is one of the extra arguments provided by roslaunch.

`WARNING: topic [__log:=/home/nbore/.ros/log/60fe2c8a-6e45-11e4-beb9-3c970e

[2014-11-17 20:49] nilsbore commented on #114
Fixed by https://github.com/strands-project/mongodb_store/issues/115.

[2014-11-17 20:49] #114 closed, assigned to nobody

[2014-11-17 20:53] nilsbore opened #116 "[mongodb_log][mongodb_store] Log and play can't handle multiple topics when launched in roslaunch"
For some reason, `mongodb_log.py` and `mongodb_play.py` can't record and play multiple topics when launched via roslaunch. I get the message `shutdown request: new node registered with same name` in both instances when I launch them with multiple topics in roslaunch. However, `mongodb_log.py` works in roslaunch when only provided one topic to record. And `mongodb_play.py` seem to work when provide

[2014-11-18 13:00] nilsbore commented on #116
@hawesie Could you have a look at this? Need it to know if my replaying of the point clouds will work. I couldn't figure out why the nodes would have the same name (I think it's the nodes for the different topics and maybe the clock node that get this shutdown request). Could it be that they are not shutdown properly when finished?

[2014-11-19 09:50] nilsbore commented on #116
It seems to be the `mongodb_playback_clock_player` that dies (in the case of `mongodb_play.py`).

[2014-11-19 10:51] nilsbore commented on #116
Try for example to launch `mongodb_play.py` in roslaunch without any topic arguments (then playing everything). This will give you the shutdown messages. All of the arguments passed into the logic in python are the same as when launched with rosrun so I have no idea why this is happening.

[2014-11-19 12:27] hawesie commented on #116
I won’t get to this until tonight at least, but if you paste some output here I might be able to quickly suggest something.=

[2014-11-19 12:29] nilsbore commented on #116
When running with roslaunch:

[code]

[2014-11-19 12:30] nilsbore commented on #116
With rosrun:

[code]

[2014-11-19 12:31] nilsbore commented on #116
The four lines at the top are added debug output. Clearly it's getting the same topics and database arguments (3rd and 4th output).

[2014-11-20 10:52] nilsbore commented on #116
@hawesie If you have any ideas on what might be causing this I can have a look.

[2014-11-20 14:16] hawesie commented on #116
Weird. It looks like something is different with the subprocess stuff here.

[2014-11-20 14:29] hawesie commented on #116
Seeing as roslaunch launches the node using `Subprocess` (I thin), i wonder if it's a problem with using `mulitprocessing.Process` within a `Subprocess`? This is really at the limits of my knowledge though. How urgent is this playback stuff?

[2014-11-20 14:30] nilsbore commented on #116
[code]

This is another example of the same one, now with 2 topics.

[2014-11-20 14:45] nilsbore commented on #116
I don't know, it works to play back rgb and depth with rosrun but I don't know if we will be able to recreate the point cloud stream without trying. Also, there is a problem with recording multiple topics with `mongodb_log.py` when launched via roslaunch, which means I can't record the camera_info. I'm fine with this atm but I don't know what the people who will be using this need. @lucasb-eyer ,

[2014-11-20 15:47] hawesie commented on #116
But why is the `roslaunch` part important? Is it so you can dynamically launch mongodb_log at run time?=

[2014-11-20 15:56] nilsbore commented on #116
That I can't log the camera_info means that I can't re-create the point clouds, though I guess I could get them by launching several `mongodb_log.py` nodes. The roslaunch would then enable launching of replaying of the point cloud in a smooth manner but may not be so important for testing. So yeah, I guess I can work around this.

[2014-11-20 16:04] hawesie commented on #116
But mongodb_log logs multiple topics at once. e.g. `rosrun mongodb_log mongodb_log.py /closest_node /current_node` or am I missing something?=

[2014-11-20 16:06] nilsbore commented on #116
Yeah, that's what I thought was the issue initially. I can't log multiple topics if I use it with roslaunch.

[2014-11-23 13:09] hawesie commented on #54
This is now super important for marathon.

[2014-11-23 14:44] #54 closed, assigned to nobody

[2014-12-16 12:17] RaresAmbrus opened #120 "Large size of mongodb_store files on disk"
I've been looking at the data logged during the marathon, in particular the metric maps we recorded at KTH. The size of the metric_maps database in mongodb is 33.9 GB, however, when I export the data and save it to the disk the total size is only 17 GB. Could it be because it's mostly point cloud data which I'm saving as binary to the disk, whereas mongodb doesn't do that?

[2014-12-16 14:17] hawesie commented on #120
MongoDB does store that data in binary, but I assume there’s some overhead as well. The easiest way to check you’re not missing anything is to try to reinsert the metric maps and see what size the resulting database is.=

[2014-12-16 15:43] RaresAmbrus commented on #120
Thanks @hawesie I'll try that out and get back with some figures.

[2014-12-16 18:06] RaresAmbrus opened #121 "Large messages not supported"
I've noticed the following error while trying to insert large point clouds in the database:

[code]

It would be nice if the database could support larger messages, as that would allow logging complete metric maps, and not just intermediate point clouds.

[2014-12-16 18:15] RaresAmbrus commented on #120
I ran a small experiment where I started with an empty mongodb database (size 20 KB) and I added some metric maps of total size 5.4 GB. After adding everything to mongodb the size of the database became 17 GB.
I then exported the data out of mongodb and saved it to the disk and got a total size of 5.4 GB again. I compared the exported data with the original data and they seem to be the same.

[2014-12-16 22:07] marc-hanheide commented on #120
mongodb allocates HUGE pages and preallocated them. Maybe that's the reason?

[2014-12-16 22:11] marc-hanheide commented on #121
http://stackoverflow.com/questions/4667597/understanding-mongodb-bson-document-size-limit

[2014-12-17 07:56] RaresAmbrus commented on #120
This is what the files inside the database look like:

[code]

If there's any way to check what's preallocated and what's already filled I can do that. But I think the metric_maps.\* files are already filled, or most of them are perhaps except for the last one - metric_maps.11. Either way, the raw data is is 5.4 GB and allocating 17 GB for that seems a bit much.

[2014-12-17 08:01] RaresAmbrus commented on #121
@marc-hanheide I am trying to figure out if/how I can use mongodb to store all the metric maps data. This limitation is annoying, because I would have to generate the complete sweep point cloud from intermediate ones whenever I want to run a test, which would be  quite an overheard. Also, at the moment and XYZRGB point cloud takes about 4.6 MB; I would imagine a point cloud for the new Kinect woul

[2014-12-17 10:20] marc-hanheide commented on #120
hmm...

Did you read this: http://docs.mongodb.org/manual/faq/storage/#why-are-the-files-in-my-data-directory-larger-than-the-data-in-my-database

This http://stackoverflow.com/questions/20087895/why-do-mongodb-takes-up-so-much-space

Also, you can `db.stats()` (see http://docs.mongodb.org/manual/reference/command/dbStats/) to learn more about your space allocation

[2014-12-17 13:38] RaresAmbrus commented on #120
In the `metric_maps` database:

[code]

For the `data` collection:

[code]

Size of raw data: 5.4GB
Space allocated for data in database: 11357589504 ~ 11 GB
Size of database on disk: ~17 GB

[2015-02-09 15:52] hawesie commented on #39
This is why the tf-specific logger is no longer launched, as noticed in #118.

[2015-02-09 15:52] #55 closed

[2015-02-09 15:55] hawesie commented on #120
Is this still an open issue? I'm not sure there's much we can do.

[2015-02-09 18:38] fiannaca commented on #116
Any progress on this issue? I'm working on a project in which I make heavy use of mongodb_log and it would be much more convenient to launch mongodb_log from a launch file rather than rosrun-ing it every time. If you haven't made any progress on this, I would be happy to dig into the code and try to sort out the issue.

[2015-02-10 08:10] hawesie commented on #116
No solution here. My last theory was that it was due to recursive calls to Python's `Subprocess` methods because roslaunch uses Subprocess to launch the node, then when the logging node uses Subprocess to launch a worker logger it all seems to go wrong. One option I was considering was rewriting to use threads, or at least allow that as an option. It's not totally simple though as it currently use

[2015-03-16 12:56] vonovak opened #123 "mongodb_play KeyError question"
Hello,
I've got a question on the `monngodb_play` script. I recorded some camera data from the `head_xtion_compressed_rgb_compressed` topic. Now when I want to replay it, I run the play script and get the following output.

`Playing back topics set([u'head_xtion_compressed_rgb_compressed'])
Exception in thread Thread-4:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", l

[2015-03-31 00:11] sssmanufacturing opened #124 "PlanningSceneWorld insert and query"
Ok this is driving me a bit nuts. Inserting a blank world object then querying it seems to fail. Is it because of the nested octomaps? or something else? If someone could please enlighten me that would be great.

Code to reproduce;

[code]

[2015-03-31 01:51] sssmanufacturing commented on #124
Appears to be that the doc dictionary returned from dc_util.msg_to_document does not put things in exactly the same order as what occurs when insert(world) called, which apparently affects the ability for mongodb to call it a match or not.

[2015-03-31 10:42] hawesie commented on #124
I don't think the order should matter, but I'll take a closer look.

[2015-04-02 20:38] hawesie commented on #124
This is odd, because if you just create an Octomap, and it and read it out use the doc version, _that_ works.

[2015-04-02 20:42] hawesie commented on #124
Also, this works, so it feels like it is due to the nesting.

[code]

[2015-04-03 11:11] sssmanufacturing commented on #124
Hi Nick,

Thanks for taking the time to look at this case.

I took the output of a working query from dc_util.msg_to_document and rearranged two of the dictionary entries and used that to query the mongodb via msg_store.query and it stopped it from working. This seems to suggest the dictionary order matters? And that the initial insert order of the msg is sometimes different to the query order?

I

[2015-04-04 10:50] hawesie commented on #124
Yes, please post an example.

[2015-04-16 07:19] hawesie opened #126 "Start logging requested topics that were not available at start-up"
Requested by @nilsbore in #125

[2015-04-16 07:19] hawesie commented on #124
I should have some time over this weekend to look at this, so if you have a quick example, that would be great.

[2015-04-16 07:26] sssmanufacturing commented on #124
We have found a solution. The problem is the dictionary order. Using a ordered dictionary solves the problem. I have a forked repo that I will tidy up and submit a pull request soon.

[2015-04-16 07:50] hawesie commented on #124
Awesome, thanks.

[2015-04-16 09:00] nilsbore commented on #126
This is not strictly required for the deployment as I think most topics will be available when we start the logging node. If there is time to fix it before, that would be good.

[2015-04-16 09:05] nilsbore commented on #116
The issue here is that if you launch a node in a launch file with the node tag, all of the nodes spawned within that will have the name given by the `name` argument. Since all the worker processes are ros nodes they will all have this name, ignoring the unique ones you set in the python script. Ros then defaults to killing a node when another one with the same name is run.

So this is also somethi

[2015-04-17 15:49] #126 closed

[2015-04-27 11:12] cdondrup opened #129 "[mongodb_log] Missing install targets"
Only the python script is installed. `mongodb_log_tf`, `mongodb_log_pcl`, `mongodb_log_cimg` need to be installed. I'll open a PR for that in a minute.

[2015-04-27 11:28] #129 closed

[2015-05-19 12:14] marc-hanheide opened #132 "[mongodb_store::replicator_node] replicate mogodb_log dbs"
currently, the replicator node needs the `_meta` data to decide what to replicate and delete. As we want to use this feature also with collections created by `mongodb_log` the queries should optionally be using the `__recorded` field.

[2015-05-19 12:14] marc-hanheide opened #133 "[mongodb_store::replicator_node] provide usefull feedback"
currently, no meaningful feedback is provided by the actionlib::server

[2015-06-12 08:49] sisyphus-s opened #135 "mangodb dies unexpectedly - exit code = 100"
Hello there,

I am trying to run the strands example. I use the following command:

This is what I get on the console:

$ roslaunch mongodb_store mongodb_store.launch db_path:=$DATA_DIR/strands_sim_example
... logging to /home/sisyphus/.ros/log/fcda3252-10de-11e5-9bbb-902b34d5f737/roslaunch-sisyphus-To-be-filled-by-O-E-M-6225.log
Checking log directory for disk usage. This may take awhile.
Press C

[2015-06-12 09:13] cdondrup commented on #135
Found the error. It didn't like the `dbpath=/strands_sim_example` because `$DATA_DIR` was not exported correctly. However, the error message is not very helpful. The directory existed but was not writeable for that user. If the directory doesn't exists, the db tells you but if it's not writable the output is rather cryptic:

[code]

from [mongodb manual on exit codes](http://docs.mongodb.org/manua

[2015-07-21 05:36] k-okada opened #138 "request for jade release"
please release for jade distro

Cc: @Furushchev

[2015-07-23 10:02] marc-hanheide commented on #138
We have not tested this on jade AFAIK. Did anyone try? You @k-okada? If I hear that this works out of the box on jade, I'm happy to push for a release.

[2015-07-27 04:01] k-okada commented on #138
yes, I confirmed that with `catkin run_tests`

[2015-08-03 08:53] hawesie commented on #138
@marc-hanheide is that enough of a confirmation for you?

[2015-08-04 09:40] hawesie commented on #138
I've checked locally and things seem ok in Jade. I've created a PR for a Jade release on the main ROS build farm: https://github.com/ros/rosdistro/pull/9065

[2015-08-25 14:25] hawesie opened #143 "Parameter related test fail"
https://github.com/strands-project/strands_executive/pull/212#issuecomment-134602697

[2015-08-25 14:35] hawesie commented on #143
@marc-hanheide I don't think there is a mongodb problem here. If I launch

[code]

then

[code]

It's fine.

[2015-08-25 14:36] cburbridge commented on #143
Looks like the parameters are not set in test mode. https://github.com/strands-project/mongodb_store/blob/50cb1fb3d74416f415d55e6a95032594b48adfb9/mongodb_store/launch/mongodb_store.launch#L34 and L35 maybe need to be duplicated at L27?

@hawesie is that after restarting roscore?

[2015-08-25 14:38] hawesie commented on #143
Oh poop, I had the wrong ws sourced when testing.

[2015-08-25 14:42] hawesie commented on #143
The parameters are not set in the launch file. They are set in the (master) server: https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_store/scripts/mongodb_server.py#L68

[2015-08-26 13:46] marc-hanheide commented on #143
I'm lost. The quoted line does not set the parameter. It only gives a local default.

[2015-08-26 14:18] hawesie commented on #143
https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_store/scripts/mongodb_server.py#L70 and https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_store/scripts/mongodb_server.py#L72 do the setting.

[2015-08-26 14:21] marc-hanheide commented on #143
Any idea why it fails then?

[2015-08-26 14:28] hawesie commented on #143
It seems to be back to normal now! It looked to me like Jenkins was suffering from some network issue when the original tests were running.

https://lcas.lincoln.ac.uk/jenkins/job/devel-indigo-strands_executive/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/95/changes

[2015-08-26 14:30] marc-hanheide commented on #143
Odd... But let's close this then.

[2015-09-01 13:56] hawesie commented on #138
The old release didn't build due to a change in the C++ driver. This new PR should fix that: https://github.com/ros/rosdistro/pull/9350

[2015-09-02 09:49] hawesie commented on #138
The binaries are now built, awaiting release: http://jenkins.ros.org/job/ros-jade-mongodb-store_binarydeb_vivid_i386/

[2015-09-07 13:50] marc-hanheide commented on #143
So, this is a race condition. The error happens in `config_manager.py`:

[code]

Setting a parameter in a script is not recommended, as then it's unclear when it will be set. This just caused another [`strands_executive` unit test](https://lcas.lincoln.ac.uk/jenkins/job/devel-indigo-strands_executive/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/98/consoleFull) to fail. We should be setting the

[2015-09-17 13:15] hawesie commented on #138
The release is now out!

[2015-09-17 13:15] #138 closed

[2015-10-09 08:11] hawesie opened #145 "Replicator node book keeping"
It would be useful for the replicator node to keep track of what it actually replicates and when. This will allow an admin to check on the the operations performed and take action if necessary. Perhaps we should add a collection to the database where the replication is sent to in order to log replications? What do you think @marc-hanheide @cburbridge @furushchev ?

[2015-10-09 08:26] marc-hanheide commented on #145
is that not actually what the [oplog](http://docs.mongodb.org/manual/core/replica-set-oplog/) is for?

[2015-10-10 06:39] furushchev commented on #145
I already do something like it:
https://github.com/jsk-ros-pkg/jsk_robot/blob/master/jsk_robot_common/jsk_robot_startup/lifelog/periodic_replicator_client.py
If we do anyway, It would be better to introduce "dynamic" book keeping. e.g.: start replication only when network traffic is much available, when logging data become big and need to replicate with `delete_after_move=True`, or when just idle.

[2015-10-26 10:45] #135 closed

[2015-10-26 10:46] hawesie commented on #143
I made an update in #150 which has hopefully fixed this. I think setting the param in the script is fine, provided there is something to wait for before checking it. If components use the `wait_for_mongo` util method before reading the param, all should be fine.

[2015-10-26 10:46] #143 closed

[2015-10-28 03:36] qinhaojie0721 opened #152 "Mongo process error! Exit code=100"
It is the first time that the database is used，I create the database path /opt/ros/mongodb_store,then run the instruction rosrun mongodb_store mongodb_server.py

It's the error returned:
[INFO] [WallTime: 1446001409.463378] Mongo server address: bob:62345
[INFO] [WallTime: 1446001409.483994] Found MongoDB version 2.4.9
[INFO] [WallTime: 1446001409.520237] Wed Oct 28 11:03:29.519 [initandlisten] Mo

[2015-10-28 03:42] qinhaojie0721 commented on #152
The reason is I don't have the permissions to write to /opt/ros/mongodb_store,run chmod 777 /opt/ros/mongodb_store to solve the problem

[2015-10-28 03:42] #152 closed

[2015-10-28 22:03] marc-hanheide commented on #152
you easily run this as `rosrun mongodb_store mongodb_server.py _database_path:=<your path>` with your own path.

[2015-10-30 02:56] qinhaojie0721 commented on #152
I will be appriciate if you can help me to solve another problem.
After rosrun mongodb_store mongodb_server.py,I execute rosrun mongodb_store message_store_node.py.
I get:

Traceback (most recent call last):
  File "/home/jenniful/catkin_ws/src/mongodb_store/mongodb_store/scripts/message_store_node.py", line 240, in <module>
    store = MessageStore()
  File "/home/jenniful/catkin_ws/src/mongodb_s

[2015-11-02 15:51] marc-hanheide commented on #152
To me that seems to be a problem in your network setup. Is there even a machine called "bob" in your setup? And can that name be resolved by the system?

[2015-11-02 15:51] marc-hanheide commented on #152
So, is "bob" in your /etc/hosts?

[2015-11-04 21:48] marc-hanheide commented on #123
@vonovak is this still an issue? I have another user reporting the same problem (he'll probably comment on this soon). Did you record this with `mongodb_log`? Did you find a solution for it already?

[2015-11-04 21:51] marc-hanheide commented on #120
fixed in #153

[2015-11-04 21:51] #120 closed

[2015-11-04 21:52] jeremy-a commented on #123
I think I have the same problem. It also seems to be recorded on the mongodb_log issue side (https://github.com/timn/ros-mongodb_log/issues/3). It was suggested to me that the general problem is an incompatibility between mongodb_store and mongodb_log packages. My best guess is that mongodb_log should be updated to support the playback better. I hope we can make this happen as I see this as the go

[2015-11-04 21:53] marc-hanheide commented on #103
is fixed, I assume

[2015-11-04 21:53] #103 closed

[2015-11-04 21:55] marc-hanheide commented on #123
@hawesie can you comment on this. It seems we cannot use `mongodb_store/mongodb_play.py` to play back things that have been recorded with `mongodb_log`, right? Do you agree that we should make the data formats compatible?

[2015-11-04 23:03] lucasb-eyer commented on #103
I completely lost this from my radar and don't know where to test anymore, sorry.

[2015-11-05 09:52] hawesie commented on #123
They definitely _should_ be compatible. Either way the playback should be more robust, so I'll look into this.

[2015-11-05 20:11] hawesie commented on #123
My guess is this is just sloppy engineering on my part. I assume the 'latch' key is always present, but this was only introduced at d2cb06e876ec807b704f6fbb01747d5d967dfd89 and so recordings made before that will cause this error.

[2015-11-05 21:01] hawesie opened #157 "Test data for mongodb_log and mongodb_play"
I'd like to create some unit tests for the log and playback nodes. This will require a rosbag of previously logged data. I have a reasonable one of 40MB, but I don't think I should add this to github. @marc-hanheide any thoughts on where I should upload so that it can be easily accessible for jenkins tests *and* for people running tests locally?

[2015-11-05 21:02] hawesie commented on #123
@jeremy-a-asi @vonovak it would be great if you could test the code at https://github.com/strands-project/mongodb_store/pull/156 to see if this fixes your problem.

[2015-11-05 21:35] jeremy-a commented on #123
I’ll try that out. Thanks for letting me know.

[cid:image001.png@01D04620.57208070]

Jeremy Adams
SOFTWARE
T

+1.866.881.2171

asirobots.comhttp://www.asirobots.com/

On Nov 5, 2015, at 2:02 PM, Nick Hawes <notifications@github.com<mailto:notifications@github.com>> wrote:

@jeremy-a-asihttps://github.com/jeremy-a-asi @vonovakhttps://github.com/vonovak it would be great if you could test the code

[2015-11-06 10:51] marc-hanheide commented on #157
owncloud? I created a directory [`unit_test_data/`](https://lcas.lincoln.ac.uk/owncloud/index.php/apps/files/?dir=%2FSTRANDS%20data%2Funit_test_data) under `STRANDS data/`. This directory is publicly available at https://lcas.lincoln.ac.uk/owncloud/index.php/s/6hYIdb1Gnk89AUv

Any file you put in there, can directly be downloaded from the URL

`https://lcas.lincoln.ac.uk/owncloud/index.php/s/6hYId

[2015-11-06 10:52] marc-hanheide commented on #157
this discussion is also probably relevant for @cdondrup who is also implementing tests which rely on some data...

[2015-11-06 12:12] #123 closed

[2015-11-06 16:21] jeremy-a commented on #123
One thing I noticed is that this fix is on a hydro branch. I don’t see an indigo branch but there is a jade. Should I able to build and run this branch with ROS indigo release?

[cid:image001.png@01D04620.57208070]

Jeremy Adams
SOFTWARE
T

+1.866.881.2171

asirobots.comhttp://www.asirobots.com/

On Nov 5, 2015, at 2:02 PM, Nick Hawes <notifications@github.com<mailto:notifications@github.com>> wro

[2015-11-06 16:35] hawesie commented on #123
The hydro branch works for indigo too.

[2015-11-06 17:14] jeremy-a commented on #123
That's what I thought. I tried it with my setup and am still having the same problems with images. I'm using sensor_msgs/CompressedImage message in a topic.
1. start the database "roslaunch mongodb_store mongodb_store.launch db_path:=/opt/ros/mongodb_store3 db_port:=62345"
2. play an existing bag file to publish the topics
3. start mongodb_log "rosrun mongodb_log mongodb_log.py -a" and let it run

[2016-03-04 16:06] hkaraoguz opened #159 "MessageStoreProxy c++ wrapper memory issue"
When using MessageStoreProxy object as a singleton, memory leak is happening when a query is executed. The cause of the issue is probably the usage of `std::vector< std::pair<boost::shared_ptr<MsgType> >` during querying where reference count of `boost::shared_ptr` objects remains larger than 0 even if the returned results go out of scope.

[2016-03-08 11:50] hawesie commented on #159
Please could you post the minimum necessary bit of code to recreate this?

[2016-03-08 12:08] cdondrup opened #160 "mongodb_host always set to localhost"
Testing the aaf system on Werner, we found a weird error:

In the mongodb launch file the `mongodb_host` ist set to `HOSTNAME` with the default of `localhost`. This however, always uses the default because `HOSTNAME` seems to be hidden by roslaunch itself. Even removing all the machine tags from the launch files didn't fix this. When using it in a distributed system, this will break the communicat

[2016-03-10 12:14] hkaraoguz commented on #159
I think I managed to solve it by code restructuring. It seems not directly related to MessageStoreProxy itself. The issue can be closed. Thanks!

[2016-03-10 12:15] #159 closed

[2016-03-11 11:05] #160 closed

[2016-03-17 10:07] foxnudt opened #163 "I cant run the"
[ERROR] [WallTime: 1458208619.863728] Mongo process error! Exit code=100

[2016-03-17 10:09] foxnudt opened #164 "i cant run the mongodb_server."
Use "rosrun mongdb_store mongodb_server.py"
And errors below:
[ERROR] [WallTime: 1458208619.863728] Mongo process error! Exit code=100
 It looks like Mongo already died. Watch out as the DB might need recovery time at next run.

someone help me ?

[2016-03-17 10:10] #163 closed

[2016-03-17 10:11] cdondrup commented on #164
Sounds like your started it before and didn't finish correctly. Try:

[code]

And kill the process that is running. Try to restart the mongodb afterwards.

[2016-03-17 10:29] foxnudt commented on #164
i've done what you told me ,but ...

[INFO] [WallTime: 1458210254.500315] Mongo server address: localhost:62345
[INFO] [WallTime: 1458210254.526112] Found MongoDB version 2.4.9
[INFO] [WallTime: 1458210254.568952] Thu Mar 17 18:24:14.568 [initandlisten] MongoDB starting : pid=17067 port=62345 dbpath=/opt/ros/mongodb_store 64-bit host=turtlebot
[INFO] [WallTime: 1458210254.569734] Thu Mar 17 18:24:

[2016-03-17 10:33] cdondrup commented on #164
Ok, one hard reset version would be:

Run

[code]

to make sure there really is nothing running, if it is, kill it with `kill -9 <pid>`. After wards remove the `mongod.lock` file from your mongodb directory (the one where the database has been created).

[2016-03-17 10:47] foxnudt commented on #164
thank you for you patience. i've killed the thread and deleted the mongod.lock, but i still can't solve it.

turtlebot@turtlebot:/opt/ros$ sudo kill -9 17868
turtlebot@turtlebot:/opt/ros$ ps aux | grep mongod
turtleb+ 17874  0.0  0.1  15956  2532 pts/0    S+   18:43   0:00 grep --color=auto mongod
turtlebot@turtlebot:/opt/ros$ cd /var/lib/
turtlebot@turtlebot:/var/lib$ cd mongodb/
turtlebot@turtle

[2016-03-17 10:48] cdondrup commented on #164
OK, than this is for @hawesie I'm afraid...

[2016-03-17 10:51] hawesie commented on #164
Let's sanity check things first. What does the following do?

[code]

[2016-03-17 10:59] foxnudt commented on #164
totally confused......

turtlebot@turtlebot:/tmp$ mongod --dbpath /tmp/foo
Thu Mar 17 18:53:23.464 [initandlisten] MongoDB starting : pid=17921 port=27017 dbpath=/tmp/foo 64-bit host=turtlebot
Thu Mar 17 18:53:23.464 [initandlisten] db version v2.4.9
Thu Mar 17 18:53:23.464 [initandlisten] git version: nogitversion
Thu Mar 17 18:53:23.464 [initandlisten] build info: Linux orlo 3.2.0-58-generic #88

[2016-03-17 11:17] foxnudt commented on #164
this is my first time to use github, so lucky to have u guys here. but i gotta go now, looking forward to your reply.i'll be online latter @hawesie @cdondrup

[2016-03-17 11:18] hawesie commented on #164
Did you ctrl-c the process to kill it?

[2016-03-17 12:43] foxnudt commented on #164
yes

[2016-03-17 12:43] foxnudt commented on #164
yes

[2016-03-17 12:52] foxnudt commented on #164
if i didn't press ctrl-c ,it would stay here:
Thu Mar 17 18:53:23.959 [initandlisten] couldn't unlink socket file /tmp/mongodb-27017.sockerrno:1 Operation not permitted skipping
Thu Mar 17 18:53:23.959 [initandlisten] waiting for connections on port 27017
Thu Mar 17 18:53:23.959 [websvr] admin web console waiting for connections on port 28017

[2016-04-27 07:28] 37 commented on #164
I had this exact issue and a combination of the following things fixed it:

[code]

I did the above and it's now working for me. Hopefully that helps!

[2016-04-28 09:07] hawesie opened #167 "Make geo stuff optional and configurable"
Rather than hard-coding soma2 stuff in there.

[2016-05-04 09:31] santosj opened #168 "/message_store/insert cannot handle large messages"
@hawesie we can't save the fremengrids on the mongodb using message store each message is 93MB and the maximum document size for message_store is 16MB. Any suggestion?

[code]

[2016-05-04 11:30] hawesie commented on #168
Can you split it into multiple smaller messages somehow? IIRC the max message size is part of mongo itself and fixed.

[2016-05-21 08:54] ButlerRobotics opened #169 "Exit code=14 - ARM support?"
Does mongodb_store work on ARM?

I have managed to get everything to work on my workstation but when I follow the exact steps on the Jetson TX1 (64-bit ARM) I get an error when trying to run the server:

[code]

I have seen the other issues with exit code=100 but those solutions do not seem to apply to this case.

Possible issue with MongoDB itself?

[2016-05-21 09:57] hawesie commented on #169
Please try running `mongod` in its own, and then you’ll get the full error log so we can see if it’s down to mongo or the wrapping we do.

[2016-05-21 10:24] ButlerRobotics commented on #169
Ah yes, when I run mongod I get an error:
`Got signal: 7 (Bus error)`

So it must be an issue with MongoDB running on ARM. Looks like I'll have to go back to old SQL :(
Pity, I had everything set up nicely with mongodb_store.

[2016-05-21 10:30] ButlerRobotics commented on #169
The full log for reference:

[code]

[2016-05-21 10:48] hawesie commented on #169
A bit of googling shows that there are mongodb distributions for ARM, so don’t give up so easily! What OS are you using?

[2016-05-21 13:50] ButlerRobotics commented on #169
Ah, there is still hope then :)

The TX1 is running on Ubuntu 14.04 Linux 64-bit. But it's been made for the Tegra boards - L4T (Linux 4 Tegra). More details here: [https://developer.nvidia.com/embedded/develop/software]

[2016-05-21 22:20] ButlerRobotics commented on #169
Any recommendations about which one to try. I am very new to mongodb so am not familiar with building from source and getting mongdb_store to work with it.

[2016-05-22 07:10] hawesie commented on #169
Try starting from https://github.com/mongodb/mongo/blob/master/docs/building.md

[2016-05-22 09:06] ButlerRobotics commented on #169
Great thanks, good starting point.
I'll close now considering this is a MongoDB issue. Appreciate the help all the same. Cheers!

[2016-05-22 09:06] #169 closed

[2016-06-06 20:10] Vesperal-Hunter commented on #164
I also have the same problem and I have tried the solutions showed before, but it still not works. If I run the launch file first as the instruction, the errors were showed like these:

`roslaunch mongodb_store mongodb_store.launch db_path:=/home/shuyuhan/test1`
`rosrun mongodb_store mongodb_server.py`

If I run the mongodb_server.py fist, it showed that:
`shuyuhan@buzz:~/catkin_ws/devel/share$ ro

[2016-06-22 11:42] karpase opened #171 "catkin_make fails on Fedora 23 with ROS Indigo"
Hi,
I tried to build from source on a Fedora 23 machine with ROS Indigo, and got a compilation error.
The first error is:

[ 83%] Building CXX object mongodb_store/mongodb_store/CMakeFiles/message_store.dir/src/message_store.cpp.o
In file included from /usr/include/c++/5.3.1/atomic:38:0,
                 from /usr/include/mongo/platform/atomic_word_cxx11.h:29,
                 from /usr/include/mo

[2016-06-22 11:42] karpase commented on #171
[ros_mongodb_build.txt](https://github.com/strands-project/mongodb_store/files/327698/ros_mongodb_build.txt)
full log is attached here :-(

Thanks,
Erez Karpas

[2016-06-22 11:45] timn commented on #171
I guess that the issue is that F23 uses the mongo-cxx-client library. This is compiled with the "-std=c++11" flag by default. It is necessary that code using this library is built with the same flag for compatibility...

[2016-06-22 15:25] marc-hanheide commented on #171
Can you elaborate what you think would have to be changed? Would we have to build mongodb_store with `-std=c++11` as well? I recall this having some issues with ROS and - more definitely - PCL (at least in Ubuntu). Maybe, @karpase can try and just add the flag in your catkin_make call? I think we ought to not add this flag in general, but what does @hawesie think?

[2016-06-23 05:28] karpase commented on #171
Hi All,
Adding
set(CMAKE_CXX_FLAGS "-std=gnu++11 ${CMAKE_CXX_FLAGS}")

to the top-level CMakeLists.txt helped, and everything now compiles just fine.

You might consider enabling c++11 only when it is supported - see
[here](http://answers.ros.org/question/152276/is-there-a-way-to-enable-c11-support-for-catkin-packages/).

Thanks,
Erez.

[2016-06-23 05:51] marc-hanheide commented on #171
Great, @timn, thanks for the hint.

[2016-06-23 05:51] #171 closed

[2016-06-23 07:36] hawesie commented on #171
Thanks folks. @karpase if you've added that linked fix, please could you open a PR?

[2016-06-23 08:25] karpase commented on #171
@hawesie I didn't actually add the linked fix, since I'm not quite sure it's the best idea.
Specifically, one of the comments on that page says:
the catkin CMake style guide forbids altering CMAKE_CXX_FLAGS, [cf.](http://docs.ros.org/hydro/api/catkin/html/user_guide/standards.html)

[2016-07-19 10:21] HuangZengPei opened #172 "Cmake error : MongoClient not found"
When I try to catkin_make the source code in mu catkin_ws , an error happened. It shows like that:
CMake Error at mongodb_store-hydro-devel/mongodb_store/cmake/FindMongoClient.cmake:72 (message):
MongoClient not found.
Call Stack (most recent call first):
mongodb_store-hydro-devel/mongodb_store/CMakeLists.txt:9 (find_package)
Can anyone tell me how to solve that? Thanks very much

[2016-08-09 16:22] marc-hanheide commented on #172
This may already answer it for you: http://answers.ros.org/question/217282/mongodb_store-in-ros-indigo-require-mongoclient-package-as-specified-in-the-cmakeliststxt-line-9-where-do-i-can-find-this-package-or-how-can-i-install/

[2016-08-09 16:22] marc-hanheide commented on #172
If it doesn't please re-open.

[2016-08-09 16:22] #172 closed

[2016-09-06 10:27] nilsbore commented on #168
I've been running into this problem lately also. Is there any way to configure mongodb to accept larger messages?

[2016-09-09 14:54] marc-hanheide commented on #168
Hi, the message size is fixed, yes: https://docs.mongodb.com/manual/reference/limits/

Two options:
- split message up into chunks (probably not really good)
- use GridFS (in python: http://api.mongodb.com/python/current/api/gridfs/) and store the main data in GridFS and only put a reference (the file id) in the message.

[2016-11-01 18:30] ronwalf opened #176 "Mongo C++ header location not exposed to depending packages on Kinetic/Xenial"
On Ubuntu 16.04, the legacy drivers for mongo-cxx-driver are no longer included.  FindMongoClient.cmake works for building mongodb_store, but depending packages don't have access to that cmake file, and thus can't find the mongo cxx headers.   I'm not a cmake expert, nor do I have particular knowledge about how things should be done here, but exporting the header location in the catkin_package fix

[2016-11-01 21:57] hawesie commented on #176
Thanks. I'll try to fix this soon.

[2016-11-04 15:29] hkaraoguz opened #179 "Logic errors in message_store_tests.cpp"
I think the conditional checks in [here](https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_store/tests/message_store_cpp_test.cpp#L93) [here](https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_store/tests/message_store_cpp_test.cpp#L111) and [here](https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_store/tests/message_store_cpp_

[2016-11-09 20:22] #176 closed

[2016-11-23 02:29] mbeneto opened #181 "Recovering disk space"
Dear all.

From some days ago I'm using mongodb_store to store long nav_msgs/Path. It is really convenient, comparing with the old "database" I was using.

After performing some test and searches, I found that the proper way to recover disk space after document deletions is to execute the command **db.repairDatabase()**. However, I realised after some tests that it wasn't having the desired effect

[2016-11-28 12:54] m312z opened #182 "Error on launch (MongoQuerywithProjectionMsg)"
Hello all,

I'm getting the error below when trying to launch mongoDB in ROS indigo. Any ideas what is causing this?

Traceback (most recent call last):
  File "/opt/ros/indigo/lib/mongodb_store/message_store_node.py", line 21, in <module>
    class MessageStore(object):
  File "/opt/ros/indigo/lib/mongodb_store/message_store_node.py", line 321, in MessageStore
    query_with_projection_messages_r

[2016-11-28 12:59] hawesie commented on #182
Are you using source or an installed package?

[2016-11-28 13:05] m312z commented on #182
I just installed via:
apt-get install ros-indigo-mongodb-store
I'm launching with:
roslaunch mongodb_store mongodb_store.launch

[2016-11-28 18:19] marc-hanheide opened #183 "Don't use extra servers in queries"
This refers to the dangerous functionality in [message_store_node.py#L226-L233](https://github.com/strands-project/mongodb_store/blob/c844f4334679f5dcddf6be132713f6c3c45315ae/mongodb_store/scripts/message_store_node.py#L226-L233):
[code]

When a query to the primary server returns nothin then it automatically calls the secondary "extra" servers, i.e., those that are only set up for replication. Th

[2016-11-28 18:33] hawesie commented on #182
Any other versions of mongodb_store on your machine? This was added in the last release. I’m not sure why it would be missing.

[2016-11-29 00:17] m312z commented on #182
I uninstalled ros-indigo-mongodb-store and cloned from github. That version worked without issue.

I'll check tomorrow if I still have a hydro version still installed somewhere. It's very possible.

[2016-11-29 08:53] hawesie commented on #182
My worry is that it's pulling in the python srv module from somewhere old. I'm not sure why it would do that for the services but not the scripts though.

[2016-11-29 10:00] marc-hanheide commented on #183
Also this is a bit strange, to be hones: https://github.com/strands-project/mongodb_store/blob/c844f4334679f5dcddf6be132713f6c3c45315ae/mongodb_store/scripts/message_store_node.py#L131-L141

It seems a delete is always propagated also to replicated sets, while for a write it needs `replicate_on_write` to be `True`. This also related to #181. As also, things are always backed-up. This is again very

[2016-12-01 19:09] m312z commented on #182
I have no hydro version anywhere. I'm using 14.04 with only ros-indigo installed.

The clone for github clone is working for me fine.

[2016-12-29 18:03] mgADx opened #185 "Release for Kinetic / Xenial"
Any chance mongodb_store will be soon available for ROS Kinetic under Ubuntu 16.04 (Xenial)?

[2016-12-30 11:25] hawesie commented on #185
I don't have much time at the moment or easy access to a 16.04 install. I'm very happy to support you through the process if you can create a release, or anyone else, e..g @m312z @furushchev

[2017-04-09 13:41] furushchev opened #187 "release request for indigo"
Hi,

Now `hydro-devel` branch includes a feature which is not yet released. (e.g. #184 )
Could you please release a new version if you are ok?
CC: @hawesie

Thank you very much in advance!

[2017-04-27 14:02] cdondrup commented on #185
If I see that correctly, there is no `mongo-cxx-driver` package in ROS Kinetic anymore. I had to build the `26compat` branch of the `mongo-cxx-driver` manually in order to build `mongodb_store`. Not sure if there is another way of doing this or if this is the right branch (usage of 26compat is discouraged) but at least it builds afterwards. Didn't get to test the functionality, yet.

[2017-05-10 14:56] barryridge commented on #185
Hi all,

For convenience, I've created [a fork](https://github.com/barryridge/mongodb_store) with the minuscule necessary changes + instructions for building with Kinetic/Xenial as per @cdondrup's notes above.  I too have yet to test it, but the build went fine.

I'd create a PR, but the changes are really tiny (just a matter of removing references to `mongodb-dev` in the rosdeps, so I suspect it

[2017-05-10 15:08] cdondrup commented on #185
Thank you for the effort @barryridge.

I think the main problem with a release for Kinetic is that usage of the `26compat` branch of the `mongo-cxx-drivers` is discouraged and it is not longer supported. To have a viable solution for the future, mongodb_store should be migrated to use a newer version of the driver. I am not sure how much work that would be as I have never looked at the C++ impleme

[2017-05-10 15:19] barryridge commented on #185
@cdondrup Yeah, I actually initially tried using the newest version of `mongo-cxx-driver`, and had installed `libbson` and `mongoc` and everything, but then realised that the API had changed significantly, and fearing a potential rabbit hole, I reverted to your solution!  It might not be so bad to change over, but I haven't looked into the code, so I have no idea.  There's also the possibility of

[2017-05-10 15:26] hawesie commented on #185
Ah, two of my past lives colliding. Hi @barryridge long time no see.

We have the final STRANDS review next week so my head isn't in the right place to deal with this yet, but I'll come back to it post-review and see what I can add.

[2017-05-11 14:54] marc-hanheide commented on #185
Just to add: I also started porting STRANDS software to Kinectic, and there is a new fancy buildfarm that also supports Kinetic at https://lcas.lincoln.ac.uk/buildfarm/ that can do more than the old one. But, progress only to be expected when the review is out of the way.

[2017-06-13 09:59] marc-hanheide commented on #185
In preparation for the kinetic release I opened this PR: https://github.com/ros/rosdistro/pull/15218 as mongodb-dev cannot be resolved for xenial.

[2017-06-13 10:28] marc-hanheide commented on #185
@barryridge did you make any progress on this? I'm inclined of chucking the `mongodb_log` package out of this repo, as this one heavily relies on the "legacy" C++ Mongo interface. The `mongodb_store` C++ code probably needs significantly fewer changes as it only uses the BSON part, right @hawesie? And the Python parts should be easy anyway.

[2017-06-13 10:41] barryridge commented on #185
Hi @marc-hanheide,

No, I'm afraid I haven't touched this since our last discussion and I haven't looked into the code beyond a cursory level, so I don't know how difficult the conversion process would be and would say you're probably much more informed on this front.  Maybe I can lend a hand with the process at some point, but not such a priority right now seeing as it's possible to use the legac

[2017-06-13 10:45] hawesie commented on #185
@marc-hanheide that makes sense to me. `mongodb_log` would need to depend on `mongodb_store` since it uses some of the libraries, but otherwise it should be the easier approach.

[2017-06-13 10:52] marc-hanheide commented on #185
@hawesie have you got anyone who could look into this ATM?

[2017-06-13 11:03] hawesie commented on #185
It's on my TODO list...

[2017-06-17 03:33] furushchev commented on #187
@hawesie @marc-hanheide kindly ping to maintainers

[2017-06-19 10:07] hawesie commented on #187
Ok, on it.

[2017-06-19 18:50] hawesie commented on #187
Indigo update published. LCAS packages are rebuilt and will release soon. ROS packages are still waiting for the release PR to be tested https://github.com/ros/rosdistro/pull/15283

After these releases I will split mongdb_log out of the repo to start preparing for a Xenial/Kinetic update as discussed in #185

[2017-06-19 19:28] marc-hanheide commented on #185
I already created a `kinetic-devel` branch without the mongodb_log package. But then I noticed that even the new mongocxx drivers are not available on Ubuntu 😒 so, they need to be packaged up, too. Best might actually be to include them in our repo as third party and build them right as part of this. Maybe you have a better idea @hawesie

[2017-06-19 19:37] hawesie commented on #185
Since this is used more generally by other people I think we need a solution which can be used from the ROS repos too. If this means rewriting some of the C++ parts I will do that. I still haven't looked closely, but will do so in the next week or so.

[2017-06-19 19:46] marc-hanheide commented on #185
Oh, don't get me wrong. That's precisely what I meant. Using the new, proper mongocxx, not the legacy one. But that needs a newer libmongoc than available in repos and also libmongocxx which isn't available at all if I have seen this correctly. I suggested that, rather than trying to convince the official ros repos to include these, we provide them as part of this repo. Build as 3rd party libs.

[2017-06-19 20:08] hawesie commented on #185
What *is* available in the standard repos? I haven't got a 16.04 VM on my laptop yet.

[2017-06-19 20:15] hawesie commented on #185
(if the answer is "go get a VM" then that's fine)

[2017-06-19 21:31] cdondrup commented on #185
In 16.04 you have `libmongoc` and `libbson` both version 1.3.1. The `mongo-cxx-driver 3.0` requires `libmongo 1.4.x`. For newer versions even later `libmongoc` versions are required. I don't think there is any form of `mongo-cxx-driver` available at all. So whatever is done would need to include a release of the `mongo-cxx-driver` via the ros repos as well.

As I have written above, compiling the

[2017-06-19 22:19] marc-hanheide commented on #185
Yeah, and the 26compat won't work with newer MongoDBs.

I started packaging up `mongoc 1.6` and `libbson` and then also a most recent version of `libmongocxx`. But then it occurred to me that this would work on my own build farm, but not really for the ROS one. As they don't allow arbitrary non-catkin packages. Hence, my suggestion to embed them into this and build them as external libs using the

[2017-06-19 22:36] furushchev commented on #187
@hawesie Thank you very much for releasing!! 👍

[2017-06-19 22:36] #187 closed

[2017-06-28 11:02] marc-hanheide commented on #185
shall we go with the `26compat` branch for now and embed that in `mongodb_store` as a submodule? The refactoring for the head of `mongocxx` might take longer or have you done anything yet, @hawesie ?

[2017-06-28 17:20] marc-hanheide commented on #185
OK, I have made some progress on this, along the lines outlined above. It's in the `kinetic-devel` branch. I'll see if this builds on the build farm. It based on the `release/legacy` branch, which is somewhat stable at least and works with most mongdb versions still. And it contains that `libmongoclient.so` in its own package, build as an external project.

[2017-06-28 17:57] marc-hanheide commented on #185
right, a few more fixed where required, but now the test build on kinetic ran through including the unit tests. New release is triggered for [our buildfarm](https://github.com/LCAS/rosdistro/wiki)
Let's see how this work: https://github.com/LCAS/rosdistro/pull/43

[2017-06-29 07:32] hawesie commented on #185
Cool, good work @marc-hanheide. I haven't got too close to doing anything (except installing a 16.04 VM), so let's go with this for now. @barryridge @mgADx @cdondrup are you able to test this?

[2017-06-29 08:51] barryridge commented on #185
Nice work @marc-hanheide! Can deffo help with testing @hawesie, though we have our own project review coming up next week, so it would have to be after that for me.

[2017-07-07 09:41] marc-hanheide commented on #185
can anyone else confirm that #194 works for them. It would be good to also test this on indigo or other versions, just to see if this solution can be the new main branch?

[2017-07-11 08:14] cdondrup commented on #185
I don't have a robot at the moment so cannot really test it. Sorry.
As soon as it is back, I'll try it on indigo and kinetic.

[2017-07-14 06:50] jstnhuang opened #196 "check_connection_to_mongod doesn't work with more recent versions of pymongo"
If you are using a recent version of pymongo (I am using v3.4), then [check_connection_to_mongod](https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_store/src/mongodb_store/util.py#L16) doesn't work. Specifically, this line is the problem:

[code]

I confirmed that this works with pymongo v2.3 but not with v3.4.

[2017-07-14 08:15] cdondrup commented on #196
From what I can see in the docs http://api.mongodb.com/python/current/changelog.html#mongoclient-changes the mongo client now starts a connection process in the background that connects to the mongodb as soon as it becomes available. Therefore, no checking of the connection is valid anymore and the Connection class has been removed.

Not sure if there is a workaround for this.

[2017-07-14 19:45] jstnhuang commented on #196
Thanks for the response! I actually don't have a need to check the connection. The problem I encountered is that the message_store_node [performs this check](https://github.com/strands-project/mongodb_store/blob/hydro-devel/mongodb_store/scripts/message_store_node.py#L36) if `mongodb_use_daemon` is true. I just commented this out for my own use, but I thought it'd be helpful to point out.

[2017-07-17 07:08] cdondrup commented on #196
It is helpful for sure! I'll leave it to @hawesie, @marc-hanheide and the others to decide how to deal with it. But it should be included in the changes being made for #27 imho.

[2017-07-26 15:32] barryridge commented on #185
@marc-hanheide - apologies for the delay - I was busy preparing a Humanoids submission!

Just tested building the `kinetic-devel` branch- that seems to work fine.  I will get back to you once we've tested it with our robots here.

[2017-07-28 19:48] barryridge commented on #185
@marc-hanheide - we have now lightly tested this on our setup here, though not extensively.  We were able to write/read a database entry, so it seems to be working.  Will let you know if we run into any issues.

[2017-08-01 13:10] hawesie commented on #185
So @marc-hanheide shall we make this the main branch?

[2017-08-02 11:48] marc-hanheide commented on #185
I think it already is, isn't it?

[2017-08-02 13:03] hawesie commented on #185
Indeed!

[2017-08-02 13:03] #185 closed

[2017-08-04 09:23] #4 closed

[2017-09-02 15:42] hawesie opened #201 "Release problems"
[code]
The release of mongo is still struggling with this. Do you know how to fix it @marc-hanheide ?

[2017-09-02 22:44] marc-hanheide commented on #201
Where did this happen! That's why I added ca-certificates. Is this building a version that contains that already?

[2017-09-03 06:36] hawesie commented on #201
This is on the old build farm. But am I right to understand that this is considered deprecated and that future indigo releases will be built on the new one? If so maybe we just ignore this for now?

[2017-09-03 15:17] #201 closed

[2017-09-03 15:18] hawesie opened #202 "topic_tools include files need to be exported by mongodb_store"
[code]

[2017-09-04 08:18] hawesie commented on #202
Fixed by @marc-hanheide  in f49e12fd467f75f14d6875192da17f437729e793

[2017-09-04 08:18] #202 closed

[2017-10-09 17:12] toliver opened #204 "Problem with latest indigo release"
The latest release for indigo seems to have added the `libmongocxx_ros` package to the list of packages.
https://github.com/ros/rosdistro/commit/35fcd4ef99ce979862358bbfa2075a0b80db8001#diff-4bbb8e35ff5dc5e7f2d7b4d00374533f

Also I've noticed that the version has been bumped to 3.6 which effectively means that it is pointing to the latest kinetic version.

Is that intentional or is it a mistake?

[2017-10-09 18:44] hawesie commented on #204
Yep, this was purposeful, since we found the kinetic version to be backwards compatible with indigo, which was better than having a mess of packages across the versions. We clearly didn't anticipate this issue though. Is this a source build of moveit alongside a binary install of mongodb_store? /cc @marc-hanheide

[2017-10-10 07:22] marc-hanheide commented on #204
I didn't know moveit uses mongo... Could you point me to a `CMakeLists.txt` in moveit where mongo client libs are included? We could change the name of the lib in our code, but, in the end, if moveit needs a specific version of the lib (the indigo one is older!) then it should probably contain a version check.

[2017-10-10 08:21] toliver commented on #204
Yes, we are building moveit from source alongside a binary install of mogodb_store.

`moveit_ros_warehouse` depends on `warehouse_ros` (see [here](https://github.com/ros-planning/moveit/blob/indigo-devel/moveit_ros/warehouse/package.xml#L19))
and `warehouse_ros` depends on `mongo-dev` (the mongo package as released on Ubuntu Trusty) (see [here](https://github.com/ros-planning/warehouse_ros/blob/in

[2017-10-10 08:30] marc-hanheide commented on #204
OK, I still don't understand why `ros_warehouse` would find "our" version before the system's version, as it searches system paths first in https://github.com/ros-planning/warehouse_ros/blob/indigo-devel/cmake/FindMongoDB.cmake#L13-L19

Do I understand it right that your also build `warehouse_ros` from source? If so, can you share you `CMakeCache.txt` to see which headers and libs it found. Or did

[2017-10-10 09:10] toliver commented on #204
You are right that ros_warehouse should find the dependencies in the specified order.

But we are not building warehouse_ros from source, only moveit. And it seems that this list of paths to find the includes is not propagated to the packages that depend on warehouse_ros.

In our case it is possible that we can drop the dependency on mongodb_store, as I've realised that our package is not currentl

[2017-10-10 09:16] marc-hanheide commented on #204
Definitely thanks for making us aware of it. Can you still tell me if it finds the wrong headers, the wrong library, or both?

[2017-10-10 10:28] toliver commented on #204
It definitely finds the wrong header. I'm not sure about the library as I'm struggling to interpret the output files of catkin_make.

You can find the compressed build directory in the following link, in case that helps you.

https://drive.google.com/file/d/0B7wJhvk4Ba2NUl9YRkJIdXJxbFk/view?usp=sharing

[2017-10-10 10:51] marc-hanheide commented on #204
many thanks. @hawesie we might have to put `libmongo_cxx` into a subdir and rename the library to prevent this. What do you think?

[2017-10-11 14:50] hawesie commented on #204
Since this is really for a package-internal purpose, I think that's fine, assuming catkin exposes the library for linking of dependent packages.

[2017-10-13 14:51] marc-hanheide commented on #204
OK, I have very limited time at the moment to work on this, so if anyone wants to have a go I shall be supportive ;-)

[2017-10-30 07:59] #196 closed

[2017-10-30 10:52] hawesie opened #208 "Make testing more robust"
From @furushchev in #205

We currently use mongodb in 2 ways: using mongodb_server.py which spawns mongod instance or using system mongod (I called daemon in the previous comment) and in client side, there are two logics to check if mongodb server is alive or not for both cases. So we need to check both cases.
Also this package is released for indigo and kinetic which is run on ubuntu 14.04 / 16.0

[2017-11-16 11:38] glebkiselev opened #209 "aptitude install ros-lunar-mongodb-store"
Will you make mongodb store to ros lunar version? I have Debian 9 and can install only lunar ros, but in my work I need to use mongodb store too.

[2017-11-20 20:37] hawesie commented on #209
Yes we can make a release for this. Does it compile from source ok on lunar?

[2018-01-05 16:15] hawesie commented on #204
@toliver does the 0.3.7 release which includes #207  by @furushchev fix your problem?

[2018-01-24 05:54] furushchev opened #211 "Question about recent change on querying with projection"
It looks the recent change on https://github.com/strands-project/mongodb_store/commit/1bd27aa73eb2bf9ec52ccba61af6e2ecef86037a just deleted the field for projection from `QueryMsg` and copied it to `QueryWithProjection` and querying with projection was already implemented before the change.
Is there any rationale for creating new method especially for querying with projection?
@hkaraoguz

[2018-01-24 09:16] marc-hanheide commented on #183
@hawesie is this still a thing?

[2018-01-24 10:07] hawesie commented on #211
Hmm... good question. I'm afraid I'm been a bit overloaded recently and haven't been checking these as thoroughly as I should have been. @hkaraoguz is there a good motivation for the change?

[2018-01-24 11:23] hkaraoguz commented on #211
As far as I remember this is done to maintain backward compatibility at that time. Discussion is [here.](https://github.com/strands-project/mongodb_store/pull/173/commits/31c1040e323ee10c7c63a192227a547fe1161a47#diff-16c19150ff2c312e6c136cb217f7b957L20) But this change has happened almost 1.5 years ago. It is not very recent.

[2018-01-25 01:38] furushchev commented on #211
@hkaraoguz @hawesie Thank you for answering.

Got it, is this feature still actively used now, or can we mark it as deprecated?

[2018-01-25 13:58] hkaraoguz commented on #211
@furushchev No problem. It is still active. It should be working.

[2018-01-29 08:15] hawesie commented on #183
It is, but I'm happy to make it a non-default option and mark as deprecated and use that to flush out people who use it...

[2018-02-21 09:02] furushchev commented on #211
@hkaraoguz Thanks, got it. Sent a pull request to remove duplicated codes to keep codes simple and now it was merged. Now I close this issue.

[2018-02-21 09:02] #211 closed

[2018-02-21 09:05] furushchev commented on #183
@marc-hanheide I recently sent a pull request to disable asking query to extra servers by default and now it was merged to main branch. Does it solve your issue? Please could you briefly check if possible and close this issue if it's ok for you.

[2018-02-21 11:41] marc-hanheide commented on #183
looks good! Thanks @furushchev

[2018-02-21 11:41] #183 closed

[2018-02-23 14:21] furushchev opened #216 "Citing this library"
Hi, I'd like to cite this great library in our papers.
I could not find any citation resource for this library.
Is there any good reference for citing it?
(I prefer BibTeX as follows:)

[code]

[2018-02-24 15:57] marc-hanheide commented on #216
(https://zenodo.org/badge/latestdoi/15771698)

[2018-02-24 15:59] marc-hanheide commented on #216
[![DOI](https://zenodo.org/badge/15771698.svg)](https://zenodo.org/badge/latestdoi/15771698)

[2018-02-24 16:03] marc-hanheide commented on #216
[![DOI](https://zenodo.org/badge/15771698.svg)](https://zenodo.org/badge/latestdoi/15771698)

[2018-02-24 16:04] marc-hanheide commented on #216
This DOI will take a bit to be propagated through the system but should provide you with a proper DOI and bibtex eventually.

Thanks

[2018-02-24 16:13] marc-hanheide commented on #216
https://zenodo.org/record/1183912

[2018-02-24 16:14] marc-hanheide commented on #216
https://zenodo.org/record/1183912/export/hx

[2018-02-24 17:18] hawesie commented on #216
You could also cite the paper on the project which caused us to build it! That would probably do our careers more good :)

http://ieeexplore.ieee.org/document/7948740/

[2018-02-24 17:33] marc-hanheide commented on #216
As usual @hawesie is thinking a bit further than me.

[2018-02-25 01:33] furushchev commented on #216
@marc-hanheide @hawesie Thank you very much for answer! I didn't know about DOI / zenodo, this is indeed nice to publish libraries.
(BTW, https://zenodo.org/record/1183912/export/hx shows only nickname for me, I must change my profile on Github :) )

[2018-02-25 01:33] #216 closed

[2018-03-11 10:13] sunnyamatya opened #217 "build failed"
mongodb_store/mongodb_store/CMakeFiles/message_store_cpp_test.dir/build.make:126: recipe for target '/home/sunny/catkin_ws/devel/lib/mongodb_store/message_store_cpp_test' failed
make[2]: *** [/home/sunny/catkin_ws/devel/lib/mongodb_store/message_store_cpp_test] Error 1
CMakeFiles/Makefile2:6969: recipe for target 'mongodb_store/mongodb_store/CMakeFiles/message_store_cpp_test.dir/all' failed
make[1

[2018-03-12 08:15] hawesie commented on #217
Please provide a lot more relevant information if you'd like us to help you (e.g. code version, platform/OS, ROS version, etc.)

[2018-04-24 14:19] furushchev opened #219 "Filtering entries by query on replication"
Currently, the available option on replication is only the duration which we can set as `move_before` slot in `mongodb_store_msgs/MoveEntriesGoal`, so if we run `replication_client.py` with setting `move_before` to `0` and enabling `delete_after_move`, all data will be moved to extra servers.
I'd like to do replication excluding (or filtering) specific entries and keep persistent data in the robot

[2018-04-25 08:11] #219 closed

[2018-05-02 06:04] furushchev opened #221 "Release request"
Hi, since there are some major changes including message definition updates, I think we need to release the new version.

- mongodb_store: support filter by query on moving entries
- mongodb_store: test replication
- Import connection failure
- mongodb_store: remove duplicated codes for querying with projection
- mongodb_store: message_store_node.py: deprecate using extra servers
- mongodb_store:

[2018-05-02 08:17] hawesie commented on #221
I should have done this earlier. I'll do it soon!

[2018-05-02 12:28] hawesie commented on #221
Kinetic: https://github.com/ros/rosdistro/pull/17697

Indigo: https://github.com/ros/rosdistro/pull/17698

Sorry for the delay! It should be quicker in the future as I've now got my docker install set up cleanly.

[2018-05-02 12:36] hawesie commented on #221
All done.

[2018-05-02 12:36] #221 closed

[2018-05-02 13:30] choiMaster1 commented on #217
code version:0.3.8
platform/OS:ubuntu 16.04 LTS
Ros version: kinetic

mongodb_store/mongodb_store/CMakeFiles/message_store_cpp_test.dir/build.make:126: recipe for target '/home/sunny/catkin_ws/devel/lib/mongodb_store/message_store_cpp_test' failed
make[2]: *** [/home/sunny/catkin_ws/devel/lib/mongodb_store/message_store_cpp_test] Error 1
CMakeFiles/Makefile2:6969: recipe for target 'mongodb_store/

[2018-05-02 13:58] furushchev commented on #221
@hawesie Thank you very much for your really quick response! :+1:

[2018-05-17 20:03] marc-hanheide commented on #217
This still only looks like the end of the log, not showing the actual error, I think. Can you show a bit more and the exact command you invoked?

[2018-05-17 20:04] marc-hanheide commented on #217
Btw, you don't need to compile from there, you can also just `apt install ros-kinetic-mongodb-store`

[2018-05-22 13:23] bbferka opened #222 "release with C++11 compatibility?"
Hi,

I was wondering if it would be possible to release libmongocxx_ros with the ``c++11=on`` set in the CMake? Would this introduce any unforeseen issues? We are planning on releasing our [package](https://www.github.com/robosherlock/robosherlock) as a binary for kinetic but it depends on monogcxx and needs C++11. As it currently is we migrated from `26compat` to `legacy`, but we needed to compil

[2018-05-22 13:28] hawesie commented on #222
@furushchev @marc-hanheide any thoughts? I have no objections.

[2018-05-22 13:50] furushchev commented on #222
Since indigo has no c++11 support, we will have to release separately if needed, but for other things, It is ok to me.
@bbferka Could you open a pull request? We have test codes so we can see how it goes if c++11 is enabled.

[2018-05-22 14:05] bbferka commented on #222
@furushchev @hawesie thanks for looking into this. I'll open a PR with the changes. You are right. This might not work for indigo.

[2018-05-22 15:03] bbferka commented on #222
#223 adds the necessary flags.

[2018-05-23 08:55] furushchev commented on #222
Solved by #223

[2018-05-23 08:55] #222 closed

[2018-06-15 15:25] christomaliyekkal opened #226 "Unable to compile mongodb_store on Ubuntu 16.04 and kinetic"
Hi I am pretty new to ROS. I am using ROS kinetic on Ubuntu 16.04
I am getting compilation error for mongodb_store

Steps followed:
1) mkdir -p catkin_ws/src
2) cd catkin_ws
3) catkin_make
4) cd src
5) cloned source files from
    a) https://github.com/strands-project/mongodb_store/
    b) https://github.com/ros/common_msgs.git

Now catkin_ws/src looks like below

[code]

6) mongocxx -driver
    a

[2018-06-17 10:05] hawesie commented on #226
You don't need step 6. This will be done for you automatically if necessary. Before step 6 you should also make sure you run rosdep  in case there are missing dependencies, e.g.

`rosdep install --from-paths src --ignore-src --rosdistro kinetic -y `

[2018-06-17 10:06] hawesie commented on #226
I'm not sure what the actual problem is. It looks boost related. However it's during the compilation of the tests, so you could simply disable the tests in the cmake file and see what happens.

[2018-06-18 13:40] christomaliyekkal commented on #226
@hawesie Yes, after commenting out test, it compiled for me. Thanks for the help! :)

[2018-06-18 13:40] #226 closed

[2018-06-27 01:05] furushchev commented on #222
FYI, this issue is also addressed in #224 and #225

[2018-06-28 01:20] aarushsesto opened #227 "CMake Error while building"
I'm getting this error while building the repo

[code]

I'm building it on kinetic running on Ubuntu 16.04. My cmake version is 3.11.1

It seems some kind of syntax problem, due to different version of cmake or something like that to me, am I right?

[2018-06-28 06:01] hawesie commented on #227
Do you have cmake installed? You can do this as below, although I thought rosdep should install this for you.

[code]

[2018-06-28 07:29] aarushg22 commented on #227
yes I do have cmake installed, as I mentioned above I have cmake version 3.11.1
The error is coming on this line https://github.com/strands-project/mongodb_store/blob/1fadc1e90701b48475800828e16b80ba9aa583db/libmongocxx_ros/CMakeLists.txt#L91

I'm not familiar with this syntax, in which you haven't added a source code for the library but just the library name? Am I doing something wrong?

[2018-06-28 08:42] hawesie commented on #227
Please can you provide the log of the build?

[2018-06-28 20:34] aarushg22 commented on #227
ok so, problem solved, I was able to build it with cmake version 3.5.2, I don't think this syntax is supported with cmake version 3.11.1

[2018-06-28 20:34] #227 closed

[2018-06-29 14:08] countdueki opened #228 "Can't log compressed color images from kinect"
Hello everyone,

I tried to record images from the kinect using mongodb_log (from source). Most of the topics work just fine, but when I try to log the _compressed_ color image topic using `rosrun mongodb_log mongodb_log.py /camera/rgb/image_raw/compressed` I get:
`Adding topic /camera/rgb/image_raw/compressed
DETECTED compressed image topic /camera/rgb/image_raw/compressed, using fast C++ logger

[2018-07-04 12:51] hawesie commented on #228
You should be able to run `mongodb_log_cimg` from the command line for just this topic. If you do that, do you see any other errors? Could you run it in a debugger to see where the error is happening in the code?

[2018-07-04 15:40] neverude commented on #228
Thanks for the reply!
When I run `mongodb_log_cimg` from command line I get the same error. My debugger gives me this

56	  mongodb_conn->insert(collection, document.obj());

0x00007f2e90af3428 in raise () from /lib/x86_64-linux-gnu/libc.so.6

But I have reason to think that the problem lies somewhere in the bsonobjbuilder.h or bsonobj.h in the libmongocxx package.

It may be of importance to ment

[2018-07-05 07:25] hawesie commented on #228
My first guess is that the cast on [this line](https://github.com/strands-project/mongodb_store/blob/kinetic-devel/mongodb_log/src/mongodb_log_cimg.cpp#L56) is failing, since the error says the data in the `boost::scoped_ptr` is null. Is there any data in the message? Any ideas what else could cause that failure?

[2018-07-08 20:46] neverude commented on #228
I get a warning while compiling, that the auto_ptr pointer is deprecated. I changed them to unique_ptr without any effect. But I think you might be right with the problem lying in this line. The pointer has some negative values, which are not cast to unsigned values correctly. It has some negative values, which probably lead to the error I get.

[2018-07-09 15:39] hawesie commented on #228
So there's a problem with the input then?

[2018-07-10 09:39] bbferka commented on #228
hi all; after quickly looking at this and testing it with a RealSense and a the Kinect on the PR2 I was experiencing the same problem;

The issue is that with legacy cxx drivers you need to call `mongo::client::initialize();` before you can start logging;

Also the collection name is not set and no error message is shown except the exception that mongo throws. I did not test but I am pretty sure t

[2018-07-10 21:37] neverude commented on #228
@bbferka that did the trick! I only had to add the database and collection, seperated by a dot. So e.g. in my case I added ` -c db.kinect_collection`
so the full command was `rosrun mongodb_log mongodb_log_cimg -t /camera/rgb/image_color/compressed -n camera -c db.kinect_log`
It started logging and the collections seemed to be complete. Appreciate the fast responses!

For completeness:  Only using

[2018-07-16 18:24] bbferka commented on #228
@countdueki glad to hear that; @hawesie I will try to figure out a way so this fix can also compile on Indigo, since currently the build fails (see #229 for details )

[2018-07-16 18:54] bbferka opened #230 "ROS melodic support"
Hi,

I've created a branch (https://github.com/bbferka/mongodb_store/tree/melodic-devel)  on my fork for melodic. As of Ubuntu bionic libmongocxx legacy can be a system dependency (Yay!).  So far I have only run it with unit tests, which all run through OK.

For now I've only added a CATKIN_IGNORE to libmongocxx_ros, but I think it could also be removed in the future.

If there is an appropriate b

[2018-07-17 06:47] hawesie commented on #230
Created: https://github.com/strands-project/mongodb_store/tree/melodic-devel

[2018-07-17 13:42] bbferka commented on #230
PR #231

[2018-08-15 08:37] machinekoder opened #232 "GetParam returns string instead of JSON encoded string"
I noticed that the `GetParam` service returns a Python print string instead of something JSON encoded:
https://github.com/strands-project/mongodb_store/blob/kinetic-devel/mongodb_store/scripts/config_manager.py#L228

This makes it impossible to read any collection value types with the service in a consistent way.

Solution: return a JSON encoded string `json.dumps()` instead.

[2018-09-12 05:41] nageshpindi commented on #164
Can any help me i'm getting error while executing PDDL files

---------------------------------------------------------------------------------------------
process[rosplan_problem_interface-3]: started with pid [12093]
[ INFO] [1536729662.574912724]: KCL: (/rosplan_problem_interface) Ready to receive
process[mongo_server-4]: started with pid [12113]
process[config_manager-5]: started with pid [121

[2018-09-12 06:00] hawesie commented on #164
This line:

Makes it look like you already have a mongodb instance running on that port, therefore the node you're launching can't listen there too. Make sure you kill off any other instances. Or if you want to connect to an existing instance use the daemon option.

[2018-09-12 06:48] NagaDinesh1194 opened #233 "Relating functions and predicates in PDDL"
Hi guys
Iam new PDDL. So apologies if my question seems silly.
I have robot which has to travel to destination through some waypoints.
Iam able to create the waypoint and make the robot object traverse though it.

But i want to take it a step further and define the waypoints at particular coordinates.
Ex: consider the the axis's  of the field as LAT and LONG ... hence WP1 (waypoint) is at LAT=1 an

[2018-09-12 06:49] hawesie commented on #233
This is in the wrong repo. You probably mean https://github.com/KCL-Planning/ROSPlan

[2018-09-12 06:49] #233 closed

[2018-11-27 09:55] abhishekpadalkar commented on #230
Tested the branch [https://github.com/bbferka/mongodb_store.git](https://github.com/bbferka/mongodb_store.git ). Build successful. Please merge asap.

[2018-11-27 21:51] hawesie commented on #230
@abhishek098 I'll take a look when I can and merge.

[2018-11-27 21:58] hawesie commented on #230
I've merged it into the branch here. Do you also want this released to the ros build farm?

[2018-11-28 10:40] abhishekpadalkar commented on #230
@hawesie yes. ros release would be great. Thanks.

[2018-11-28 16:16] hawesie commented on #230
Noted!

[2018-11-30 11:24] marc-hanheide opened #236 "support replication to authenticated and encrypted servers"
https://github.com/strands-project/mongodb_store/blob/kinetic-devel/mongodb_store/scripts/replicator_node.py needs to be extended to support connections to remote authenticated servers (in our case, a cloud instance as a data store).

[2018-12-20 15:02] hawesie commented on #230
I'm part way there. Just getting the pymongo rosdep added for bionic: https://github.com/ros/rosdistro/pull/19807

[2019-01-24 10:06] hawesie commented on #230
PR opened: https://github.com/ros/rosdistro/pull/20048

[2019-01-24 14:43] #230 closed

[2019-01-24 14:43] hawesie commented on #230
PR merged so this should start making its way into the build farm

[2019-01-31 14:36] jorgenfb opened #237 "Handling removed default parameters"
We have some parameters previously stored in default_path directory. Now we want to remove some of them from the config manager and instead set them in our launch files. The problem is that the config_manager still applies the old defaults on the parameters server.

How do I handle this properly assuming I don't have access to the database on all installations. The only workaround I can think of i

[2019-02-01 10:20] hawesie commented on #237
A good question. Adding @Jailander as I think he's the one who bests understands this functionality. (Jaime, add someone else if not!)

That said, if your nodes can read the parameters from the store, you must have database access in some form, so it should be possible to script something to remove these old database entries.

[2019-02-01 11:04] jorgenfb commented on #237
I do have database access, I just want to have your opinion on how to handle removed defaults. If there is some missing functionality I might be able to provide it in an PR if we can agree on the desired behavior.

I think that at least the default value stored in the database should be ignored. I'm not sure what to do with any local override as there is possible to set local configs even for para

[2019-03-21 08:34] jorgenfb opened #239 "Reset/remove local overrides"
I want to be able to remove local overrides. Basically remove all documents in the config.local collection. Is there interest in include this functionality in the library? I can provide a PR if so. Otherwise I will handle it outside of this library.

[2019-03-22 06:35] hawesie commented on #239
Sure, that sounds interesting to me.

[2019-04-06 09:31] gavanderhoorn opened #245 "Support for capped collections"
This was mentioned in #8 as a possible approach to mimic "ringbuffers", but that issue is from 2014, so I figured I'd post a new one to see whether `mongodb_store` supports capped collections.

Use case would be a fixed-size "last N minutes" recording of all ROS traffic in an application for post-mortem diagnosis and debugging.

If this is currently not supported, could someone familiar with the i

[2019-04-06 09:42] gavanderhoorn opened #246 "Repository not registered for documentation indexing?"
Just noticed that the [wiki page](http://wiki.ros.org/mongodb_store) doesn't show a `Documentation` badage.

[rosdistro/kinetic/distribution.yaml](https://github.com/ros/rosdistro/blob/c12de20486d116fdcd3eca43aefca5f61b2cc42e/kinetic/distribution.yaml#L6681-L6696) also shows no `doc` entry for the package(s).

Is this intentional?

Comparing this to other ROS wiki pages it makes it harder to find

[2019-04-06 14:02] hawesie commented on #246
We do actually have some documentation, so I'll add it to the next release.

[2019-04-06 14:11] hawesie commented on #245
AFAIK we didn't end up implementating that for #8 (which I should probably close at this point), but since then they were added to mongodb: https://docs.mongodb.com/manual/core/capped-collections/

To use these you'd need to add a flag to mongodb_log or mongodb_store to either create or convert the collections used to a capped version. Perhaps capping requirements would be best done via rosparam r

[2019-04-06 14:20] gavanderhoorn commented on #246
Doc indexing doesn't depend on having documentation available. Even (almost) empty repositories can be indexed by the ROS buildfarm.

The benefit of having the doc jobs generated is that the *Package Summary* heading on the wiki page auto-generates some additional information about the repository.

The only thing that would be needed would be a `doc` entry added for the repository. See [this entry

[2019-04-06 14:34] hawesie commented on #246
Useful to know, thanks. I'll add this to my todo list.

[2019-04-06 15:50] gavanderhoorn commented on #245
Ok, so there's nothing in the way `mongodb_store` or the other packages/nodes use the db that would prevent it from working with a capped collection that you know of?

[2019-04-09 20:47] summer1216 opened #247 "installing from source"
Due to reasons I have to install mongodb_store from source.

I cloned it to my catkin_ws and built it by catkin_make.

Then I need to specify the path for this package, but I don't know where is the package installed. Any idears? thanks!

[2019-04-14 08:01] hawesie commented on #247
Please provide some output from your build process and also details of your OS, ROS version etc.

[2019-04-15 06:45] hawesie commented on #245
Nope. Under the hood mongodb_store just reads and writes to collections in the normal way.

[2019-04-15 07:25] gavanderhoorn commented on #245
Great. Thanks for the insights.

If/when we decide to go this way, I'll try to update this issue with our experiences.

[2019-04-15 07:25] #245 closed

[2019-04-16 14:05] summer1216 commented on #247
I reinstalled ROS and the problem was solved. Thank you anyway!

This issue can be closed.

[2019-05-03 14:01] #239 closed

[2019-05-10 12:21] chris2401 commented on #228
@bbferka could you please explain in more detail how you got it working?
i am running ros kinetic on ubuntu 16.04. with mongodb-store version 0.4.4 and i want to capture compressed color images of a realsense d435.

running:
`rosrun mongodb_log mongodb_log.py -e /camera/color/image_raw/compressed`
results in
`Adding topic /camera/color/image_raw/compressed
DETECTED compressed image topic /camera/c

[2019-06-17 09:10] Affonso-Gui opened #251 "Cannot apt install on melodic"
Hello,

I was not able to `apt install ros-melodic-mongodb-store`, apparently because the build is failing
http://repositories.ros.org/status_page/ros_melodic_default.html?q=mongodb

It seemed to be fine when installing from source, so maybe some dependency problems?

[2019-06-17 09:11] Affonso-Gui commented on #251
@knorth55

[2019-06-17 10:09] knorth55 commented on #251
[code]

This error is solved in #250 .

[code]

I have no idea about this error.

[2019-06-17 10:14] hawesie commented on #251
Looks like I need to rerelease the melodic version with #250

[2019-06-21 06:26] knorth55 commented on #251
any update for this issue?
I'm wondering if these two error caused by the dependency problem.

[2019-06-21 06:31] hawesie commented on #251
I should be able to do the re-release on MOnday (don't have access to the correct bits at the moment...).

[2019-06-21 06:35] knorth55 commented on #251
Ok, thank you for your quick response. :+1:

[2019-06-28 11:50] hawesie commented on #251
Slightly later than planned: https://github.com/ros/rosdistro/pull/21641

[2019-06-28 12:40] knorth55 commented on #251
GOOD!! Thank you for your quick release!
http://build.ros.org/view/Mbin_uB64/job/Mbin_uB64__mongodb_store__ubuntu_bionic_amd64__binary/

[2019-08-29 08:20] knorth55 commented on #251
@Affonso-Gui we can close this issue.

[2019-08-29 08:53] hawesie commented on #251
👍

[2019-08-29 08:53] #251 closed

[2019-09-02 04:44] Affonso-Gui commented on #251
@hawesie @knorth55  Thanks for your help!!

[2019-10-23 14:26] hawesie commented on #246
kinetic and melodic releases are already indexed for documentaiton, but indigo wasn't and that's the base entry on the wiki. Fix added: https://github.com/ros/rosdistro/pull/22736

[2019-10-23 14:28] gavanderhoorn commented on #246
I doubt you'll get that merged, seeing as Indigo has been EOL for some time now.

This is strange. For me the wiki shows the latest ROS version a package is being indexed for.

Does it not do that for you?

[2019-10-23 14:33] hawesie commented on #246
Hmmm.... it does now... odd.

[2019-10-28 17:00] jorgenfb commented on #237
I would basically read all the defaults from the database and see if any of them is no longer read from default files, then delete the from the database itself.

I'm not really sure how to handle local config. I would probably still allow to have local config without a default. With #248 we already have a service for that can be used to reset the local values.

[2020-02-04 11:38] mikaelarguedas opened #255 "ROS wiki page "getting started" pointing to wrong repository"
The ROS wiki page [advises to clone](https://wiki.ros.org/mongodb_log#How_to_get_started) an ancient version of this code causing some confusion for users.

This came up at https://answers.ros.org/question/343234/cant-import-connection-from-pymongo-using-mongodb_log/

[2020-02-05 07:16] hawesie commented on #255
Ouch - ancient indeed. I've requested edit permissions.

[2020-02-27 01:00] bilal9876 commented on #247
i use git clone  https://github.com/strands-project/mongodb_store.git (install from the source)
in my own catkin workspace . when i execute catkin_make (build)
Switched to a new branch 'releases/legacy'
Branch 'releases/legacy' set up to track remote branch 'releases/legacy' from 'origin'.

i want to use mongodb with rosplan and melodic and turtlebot3.
any help please?

[2020-02-27 02:07] bilal9876 opened #256 "mongodb_store build fail ros-melodic version"
CMake Error at mongodb_store-upstream-0.5.2/mongodb_store/cmake/FindMongoClient.cmake:72 (message):
  MongoClient not found.
Call Stack (most recent call first):
  mongodb_store-upstream-0.5.2/mongodb_store/CMakeLists.txt:27 (find_package)

error when build the new released version for melodic ros version

[2020-02-28 00:47] bilal9876 opened #258 "i cannot run rosplan i have ros melodic ubuntu 18 and every thing is build using mongodb_store"
when i try to launch the first tutorial from rosplan tutorials.

[ERROR] [1582850746.648855]: Can't find database at supplied path /home/bilal/rosplan_catkin_ws/src/rosplan/rosplan_knowledge_base/common/mongoDB/. If this is a new DB, create it as an empty directory.
[mongo_server-3] process has died [pid 15958, exit code 1, cmd /home/bilal/rosplan_catkin_ws/src/mongodb_store/mongodb_store/scripts/

[2020-02-28 02:23] bilal9876 commented on #258
i will close this issue because i found the solution .

i must change the scene path to the same database.

[2020-02-28 02:23] #258 closed

[2020-02-28 17:57] #256 closed

[2020-02-29 17:28] marc-hanheide commented on #247
@bilal9876  can't you just use the released package (https://wiki.ros.org/mongodb_store) for melodic?

[2020-03-10 12:21] ysl208 commented on #256
Can I ask what the solution to this is? I have encountered the same problem

[2020-03-10 16:10] bilal9876 commented on #256
for sure , what i remember is:

i uninstall all the mongodb and all its components

check for the mongod services.

i download the package from  strands-project/mongodb_store

and follow the steps from readme.txt in the mongodb_store folder.

the problem ocuured for (By default, the mongod database will be stored in `/opt/strands/mongodb_store`) you can create your own folder and check your  permi

[2020-04-24 12:46] hawesie commented on #255
Updated! https://wiki.ros.org/mongodb_log#How_to_get_started

[2020-04-24 12:46] #255 closed

[2020-04-24 12:48] mikaelarguedas commented on #255
:tada:

[2020-05-07 19:45] nilsbore opened #260 "C++ JSON serialization of ROS messages"
Hi guys! I implemented a [C++ serializer/deserializer for ROS msgs](https://github.com/nilsbore/roscpp_json_serialize) for a [project I'm working on atm](https://github.com/nilsbore/roswasm/blob/master/src/test.cpp). From what I remember, mongodb_store does that part in python and then sends it on to c++ for insertion in mongodb. Would there be any obvious gain from doing it in c++ instead (e.g. s

[2020-05-08 06:32] hawesie commented on #260
Hey @nilsbore lovely to hear from you!

Both C++ and Python do it natively using ROS code. Here are the C++ bits: https://github.com/strands-project/mongodb_store/blob/melodic-devel/mongodb_store/include/mongodb_store/message_store.h#L33

[2020-05-08 08:15] nilsbore commented on #260
Hi @hawesie ! Ok, I see! But from what I understand this is binary serialization of the messages. Wasn't there an option to also have them as json dicts within mongodb?

[2020-05-08 08:18] nilsbore commented on #260
Basically, my library does the same things as the two functions you pointed to, but serializing to json.

[2020-05-15 06:56] hawesie commented on #260
Understood!

That would probably be nicer, but I'm not sure it's necessary at this point (everything works, no-one is actively changing this code). When the message infrastrucutre changes for ROS2, it would be worth looking again.

[2020-05-15 06:56] #260 closed

[2020-07-23 16:17] vittoriouss opened #264 "Issue with rospy registering replayed topics' URIs"
Hello. I'm currently working on a project that requires us to replay certain command topics. I keep on getting this error whenever I replay. This happens randomly and not consistently. I was wondering if anyone had the same issue previously and may know how to solve this.

Exception in thread Thread-2:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __boot

[2020-10-09 09:26] heuristicus opened #265 "mongo_server is not properly killed if bind_to_host is set to true"
When using a basic setup, sending C-c to the terminal window will kill mongo properly

[code]

If using bind_to_host, this is not the case.

[code]

This means that when you next try to start the launch file, you will get something like

[code]

[2021-02-16 10:19] talhakarimtk opened #267 "mongodb for ROS noetic"
I am trying to access mongodb using ros noetic. Then I found [here](https://answers.ros.org/question/364039/how-to-install-mongodb-for-ros-noetic/) that mongodb package for noetic has not been released. Will the package be released for noetic or should I need to install some previous version of ROS?

[2021-02-16 10:51] hawesie commented on #267
You can install mongodb_store from source by cloning this repo into your catkin workspace. I haven't tested whether it compiles for noetic, so please let us know how it goes.

[2021-02-19 12:15] shu-qing commented on #267
$ roslaunch mongodb_store mongodb_store.launch db_path:=/home/sq/Desktop/db db_port:=62345
... logging to /home/sq/.ros/log/abb0ea44-72ab-11eb-a629-3f36563baa48/roslaunch-tp-44094.log
Checking log directory for disk usage. This may take a while.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started roslaunch server http://tp:34025/

SUMMARY
========

PARAMETERS
 * /c

[2021-02-24 07:10] hawesie commented on #267
Ok, that looks good!

[2021-03-05 10:48] gautz commented on #267
I cloned the repo in a noetic catkin workspace. Doing a ``rosdep install`` gave me:
``mongodb_store: No definition of [python-future] for OS version [focal]``
Then I did ``sudo apt-get install mongodb mongodb-dev python3-pymongo``
I cloned also https://github.com/ros-planning/warehouse_ros_mongo noetic-devel and https://github.com/ros-planning/warehouse_ros kinetic-devel
And it worked.

[2021-06-21 10:25] RodrigoCodeBernardo opened #268 "Store and read double vector"
I am trying to store a vector with 6 points in mongodB, but I am not succeeding. I get the following error:

[code]

What am I missing?

[code]

[2021-06-21 10:35] #268 closed

[2022-06-03 12:16] bpotokar commented on #267
I tested it out and it dones't fully work. Querying messages seem to work in most cases but it returns generator object instead of list. So result needs to be converted to a list to have the same behavior. Some calls like `MessageStoreProxy().query(..., single=True)` fails because of that.
Inserting messages on the other hand, doesn't seem to work at all. I always get serialization error. I tried

[2022-08-04 16:29] hawesie opened #273 "Change of maintainer"
It may have become obvious, but I no longer have the capacity to check PRs or manage releases. Is anyone else willing to take this on, e.g. @marc-hanheide @knorth55 @furushchev @ggorjup @708yamaguchi ?

[2022-08-04 16:42] marc-hanheide commented on #273
not so keen myself. My quota of (poorly) maintained packages is beyond capacity already 😔

[2022-08-05 13:39] knorth55 commented on #273
I can help checking PRs. But when I'm busy, I will be late to check it.

[2022-08-16 09:43] heuristicus opened #276 "SON manipulator is deprecated in `pymongo>4.0`"
When using ROS noetic and installing pymongo with `pip3 install pymongo`, you will receive a version which is above 4.0. The config manager uses an SON manipulator which was deprecated in 4.0. You can find some information at https://pymongo.readthedocs.io/en/stable/migrate-to-pymongo4.html#sonmanipulator-is-removed.

The simplest workaround is to install an earlier version of pymongo, which can b

[2022-08-23 15:05] ggorjup commented on #273
I apologize for the late reply, I was on leave.

I can help with maintaining the repository with support of my company - FLX Robotics, since it is in our interest to maintain its quality.

[2022-08-31 15:44] hawesie commented on #273
@ggorjup that's great news, thanks! I think a key short-term task is to create a new release. Have you released ROS packages before?

[2022-09-05 07:49] ggorjup commented on #273
@hawesie that makes sense yes. I haven't released ROS packages before, but I went through the release instructions.

Did you have in mind to just create the Noetic release or also update Melodic?

In my PR I didn't touch `mongodb_log` and I see there are some Python 2 statements in the code - I guess this should be fixed before releasing right?

[2022-09-06 08:35] hawesie commented on #273
I think it's definitely time to create a Noetic release.

And if you're able to fix the Python 2 statements in `mongodb_log` then great. Alternatively you could try releasing it and wait for someone else who needs to fix it.

[2022-09-07 09:28] ggorjup commented on #273
Sure, I'll fix the statements and make a PR before releasing.

[2022-09-07 13:26] ggorjup commented on #273
I made a PR updating the `mongodb_log` statements for Python 3 here: #277
After it's merged, I'll start with the release process.

I didn't touch anything else, but I'd like to clean up the packages a bit after the release. I'll make a separate issue for that.

[2022-09-07 13:39] ggorjup opened #278 "Clean up the packages"
The `mongodb_store` packages could use some cleaning:
- Remove template comments in `CMakeLists.txt` and `package.xml` files
- Lint C++ files
- Lint Python files
- Remove Python 2 compatibility on `noetic-devel` (?)

This is targeted mainly at the latest version for ROS Noetic.

[2022-09-15 11:14] ggorjup commented on #273
I ran into an issue while running pre-release tests for Melodic - I addressed it here: #279
I'd like to resolve this before releasing, so we don't run into any build/test issues in the process.

After merging, I'll open an initial PR to `rosdistro/noetic/distribution.yaml`, for the purpose of pre-release tests on Noetic.
EDIT: I can actually open the `rosdistro` PR now, since it will reference onl

[2022-09-15 16:24] hawesie commented on #273
@ggorjup this is excellent, thanks! I've just made you an admin for the repo, so hopefully that's enough

[2022-09-16 09:09] ggorjup commented on #273
@hawesie thank you very much! I think that will be enough.
I'll start with the release as soon as I confirm that the pre-release tests pass.

[2022-09-20 09:00] ggorjup commented on #273
@hawesie it seems I will also need write privileges for the release repository, if we wish to keep the same one: https://github.com/strands-project-releases/mongodb_store

[2022-09-20 09:03] marc-hanheide commented on #273
@ggorjup I invited you.

[2022-09-20 09:05] ggorjup commented on #273
Wow, that was fast! Thank you @marc-hanheide!

[2022-09-20 13:54] ggorjup commented on #273
The Noetic release PR is here: https://github.com/ros/rosdistro/pull/34588

The only issue I had is that the `buster` distribution has no `rosdep` key for `mongodb` (or `apt` key, for that matter) so I just skipped it when running `bloom-release`.

Is this something we can/should address?

[2022-10-03 07:14] ggorjup commented on #267
The package has now been updated and released for ROS Noetic - `mongodb_store` can be installed with:
`sudo apt install ros-noetic-mongodb-store`

Closing issue.

[2022-10-03 07:14] #267 closed

[2022-10-03 07:30] hawesie commented on #267
Excellent work!

[2022-10-28 10:37] jagomo opened #280 "Boost conflict on the noetic branch leads to segfaults"
I've been toying a bit with the new noetic branch trying to update some old code base. In the same node where I make use of MessageStoreProxy I need to make use of boost::thread.

I was getting a segfault randomly happening in the spawned thread. After debugging for a while without a clue. Found out that the resulting node is linking to boost 1.71 (noetic dependency) and 1.67 (libmongoclient depen

[2022-10-28 10:59] jagomo commented on #280
Just to extend, the dependency conflict can be also seen here

[code]

[2022-10-31 16:06] jagomo commented on #280
After some more digging, realized that the C++ support is based on the legacy driver that went EOL some years ago. Are there any plans to support the current C++ driver? (it's boost-free so it would solve the problem), but the new driver has a completely different API:

https://stackoverflow.com/questions/45319979/upgrading-mongodb-c-driver-to-mongocxx-3-1-2

[2022-11-22 08:06] ggorjup commented on #280
Hi @jagomo, thanks for finding and investigating this issue.

Unfortunately there aren't any plans to support the new C++ driver at this time. The switch would also complicate dependency handling, since it seems the new C++ driver is not on `apt` like the old one (https://mongocxx.org/mongocxx-v3/installation/linux/).

That being said, if you find a solution for this issue, any PRs will be greatly